openapi: 3.0.3
info:
  title: Mindbody Public API v6 Appointment Client API
  version: '6.0'
  description: REST API for Mindbody business management data including appointments, classes, clients, enrollments, sales, sites, staff, payroll, and cross-site operations. Authentication combines a Mindbody-issued API-Key header with a SiteId header and optional staff/user OAuth bearer tokens for write operations. Generated from the official Mindbody Public API Python SDK (apimatic v3).
  contact:
    name: Mindbody API Support
    url: https://support.mindbodyonline.com/s/contactapisupport
  license:
    name: Proprietary
  x-generated-from: Mindbody-API-SDKs python SDK
  x-last-validated: '2026-05-28'
servers:
- url: https://api.mindbodyonline.com
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Client
  description: Client operations.
paths:
  /public/v6/client/activeclientmemberships:
    get:
      tags:
      - Client
      summary: Mindbody Please Note That Client Memberships with Location Restrictions Can
      description: Please note that client memberships with location restrictions can only be used to pay for scheduled services at the site to which they belong. Memberships with location restrictions can not be used to pay for scheduled services at other sites within an organization.
      operationId: getActiveClientMemberships
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: request.clientId
        in: query
        required: true
        description: The ID of the client for whom memberships are returned.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.clientAssociatedSitesOffset
        in: query
        required: false
        description: Used to retrieve a client’s memberships from multiple sites within an organization when the client is associated with more than ten sites. To change which ten sites are searched, change this offset value. A value of 0 means that no sites are skipped and the first ten sites are returned. You can use the `CrossRegionalClientAssociations` value from `GET CrossRegionalClientAssociations` to determine how many sites the client is associated with. Note that you must always have `CrossRegionalLookup` s
        schema:
          type: integer
          format: int32
        example: 10
      - name: request.crossRegionalLookup
        in: query
        required: false
        description: Used to retrieve a client’s memberships from multiple sites within an organization. When included and set to `true`, it searches a maximum of ten sites with which this client is associated. When a client is associated with more than ten sites, use `ClientAssociatedSitesOffset` as many times as needed to search the additional sites with which the client is associated. You can use the `CrossRegionalClientAssociations` value from `GET CrossRegionalClientAssociations` to determine how many sites the
        schema:
          type: boolean
        example: true
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.locationId
        in: query
        required: false
        description: Filters results to memberships that can be used to pay for scheduled services at that location. This parameter can not be passed when `CrossRegionalLookup` is `true`.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.uniqueClientId
        in: query
        required: false
        description: The Unique ID of the client for whom memberships are returned. Note that UniqueClientId takes precedence over ClientId if both are provided.
        schema:
          type: integer
          format: int32
        example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActiveClientMembershipsResponse'
              examples:
                Getactiveclientmemberships200Example:
                  summary: Default getActiveClientMemberships 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    ClientMemberships:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/activeclientsmemberships:
    get:
      tags:
      - Client
      summary: Mindbody The Endpoint Returns a List of Memberships for Multiple Clients We
      description: The endpoint returns a list of memberships for multiple clients we pass in query parameter. Please note that clients memberships with location restrictions can only be used to pay for scheduled services at the site to which they belong. Memberships with location restrictions can not be used to pay for scheduled services at other sites within an organization.
      operationId: getActiveClientsMemberships
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: request.clientIds
        in: query
        required: true
        description: 'The ID of the client for whom memberships are returned. Maximum allowed : 200.'
        schema:
          type: array
          items:
            type: string
        example:
        - example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.clientAssociatedSitesOffset
        in: query
        required: false
        description: Used to retrieve a client’s memberships from multiple sites within an organization when the client is associated with more than ten sites. To change which ten sites are searched, change this offset value. A value of 0 means that no sites are skipped and the first ten sites are returned. You can use the `CrossRegionalClientAssociations` value from `GET CrossRegionalClientAssociations` to determine how many sites the client is associated with. Note that you must always have `CrossRegionalLookup` s
        schema:
          type: integer
          format: int32
        example: 10
      - name: request.crossRegionalLookup
        in: query
        required: false
        description: Used to retrieve a client’s memberships from multiple sites within an organization. When included and set to `true`, it searches a maximum of ten sites with which this client is associated. When a client is associated with more than ten sites, use `ClientAssociatedSitesOffset` as many times as needed to search the additional sites with which the client is associated. You can use the `CrossRegionalClientAssociations` value from `GET CrossRegionalClientAssociations` to determine how many sites the
        schema:
          type: boolean
        example: true
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.locationId
        in: query
        required: false
        description: Filters results to memberships that can be used to pay for scheduled services at that location. This parameter can not be passed when `CrossRegionalLookup` is `true`.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActiveClientsMembershipsResponse'
              examples:
                Getactiveclientsmemberships200Example:
                  summary: Default getActiveClientsMemberships 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    ClientMemberships:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/clientaccountbalances:
    get:
      tags:
      - Client
      summary: Mindbody Get Account Balance Information for One or More Client(s)
      description: Get account balance information for one or more client(s).
      operationId: getClientAccountBalances
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: request.clientIds
        in: query
        required: true
        description: The list of clients IDs for which you want account balances.
        schema:
          type: array
          items:
            type: string
        example:
        - example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.balanceDate
        in: query
        required: false
        description: 'The date you want a balance relative to. Default: **the current date**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.classId
        in: query
        required: false
        description: The class ID of the event for which you want a balance.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClientAccountBalancesResponse'
              examples:
                Getclientaccountbalances200Example:
                  summary: Default getClientAccountBalances 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Clients:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/clientcompleteinfo:
    get:
      tags:
      - Client
      summary: Mindbody This Endpoint Returns Complete Client Information Along with List of
      description: This endpoint returns complete client information along with list of purchased services, contract details, membership details and arrival programs for a specific client.
      operationId: getClientCompleteInfo
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: request.clientId
        in: query
        required: true
        description: Filters results to client with these ID.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: consumer-identity-token
        in: header
        required: false
        description: A consumers authorization token to replace the need of clientId in the request.
        schema:
          type: string
        example: example-value
      - name: request.clientAssociatedSitesOffset
        in: query
        required: false
        description: Used to retrieve a client’s pricing options from multiple sites within an organization when the client is associated with more than ten sites. To change which ten sites are searched, change this offset value. A value of 0 means that no sites are skipped and the first ten sites are returned. You can use the `CrossRegionalClientAssociations` value from `GET CrossRegionalClientAssociations` to determine how many sites the client is associated with. Note that you must always have `CrossRegionalLooku
        schema:
          type: integer
          format: int32
        example: 10
      - name: request.crossRegionalLookup
        in: query
        required: false
        description: Used to retrieve a clients pricing options from multiple sites within an organization.When included and set to `true`, it searches a maximum of ten sites with which this client is associated.When a client is associated with more than ten sites, use `ClientAssociatedSitesOffset` as many times as needed to search the additional sites with which the client is associated. You can use the `CrossRegionalClientAssociations` value from `GET CrossRegionalClientAssociations` to determine how many sites th
        schema:
          type: boolean
        example: true
      - name: request.endDate
        in: query
        required: false
        description: 'Filters results to pricing options that are purchased on or before this date. Default: **today’s date**.'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.excludeInactiveSites
        in: query
        required: false
        description: 'When this flag is set to `true`, will exclude inactive sites from the response Default: **false**'
        schema:
          type: boolean
        example: true
      - name: request.requiredClientData
        in: query
        required: false
        description: Used to retrieve list of purchased services, contract details, membership details and arrival programs for a specific client. Default `ClientServices`, `ClientContracts`, `ClientMemberships` and `ClientArrivals` will be returned when `RequiredClientDatais` not set. When `RequiredClientData` is set to `Contracts` then only `ClientContracts` will be returned in the response. When `RequiredClientData` is set to Services then only `ClientServices` will be returned in the response. When `RequiredClie
        schema:
          type: array
          items:
            type: string
        example:
        - example-value
      - name: request.showActiveOnly
        in: query
        required: false
        description: 'When `true`, includes active services only. Set this field to `true` when trying to determine if a client has a service that can pay for a class or appointment. Default: **false**'
        schema:
          type: boolean
        example: true
      - name: request.startDate
        in: query
        required: false
        description: 'Filters results to pricing options that are purchased on or after this date. Default: **today’s date**.'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.uniqueClientId
        in: query
        required: false
        description: The unique ID of the client who is viewing this class list.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.useActivateDate
        in: query
        required: false
        description: 'When this flag is set to `true`, the date filtering will use activate date to filter the pricing options. When this flag is set to `false`, the date filtering will use purchase date to filter the pricing options. Default: **false**'
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClientCompleteInfoResponse'
              examples:
                Getclientcompleteinfo200Example:
                  summary: Default getClientCompleteInfo 200 example
                  x-microcks-default: true
                  value:
                    Client: {}
                    ClientServices:
                    - {}
                    ClientContracts:
                    - {}
                    ClientMemberships:
                    - {}
                    ClientArrivals:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/clientcontracts:
    get:
      tags:
      - Client
      summary: Mindbody Get Contracts That a Client Has Purchased
      description: Get contracts that a client has purchased.
      operationId: getClientContracts
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: request.clientId
        in: query
        required: true
        description: The ID of the client (RssId).
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.clientAssociatedSitesOffset
        in: query
        required: false
        description: 'Determines how many sites are skipped over when retrieving a client’s cross regional contracts. Used when a client ID is linked to more than ten sites in an organization. Only a maximum of ten site databases are queried when this call is made and `CrossRegionalLookup` is set to `true`. To change which sites are queried, change this offset value. Default: **0**'
        schema:
          type: integer
          format: int32
        example: 10
      - name: request.crossRegionalLookup
        in: query
        required: false
        description: When `true`, indicates that the requesting client’s cross regional contracts are returned, if any.<br /> When `false`, indicates that cross regional contracts are not returned.
        schema:
          type: boolean
        example: true
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.uniqueClientId
        in: query
        required: false
        description: The unique ID of the requested client.
        schema:
          type: integer
          format: int32
        example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClientContractsResponse'
              examples:
                Getclientcontracts200Example:
                  summary: Default getClientContracts 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Contracts:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/clientdirectdebitinfo:
    get:
      tags:
      - Client
      summary: Mindbody This Endpoint Returns Direct Debit Info Stored on a Client's Account
      description: This endpoint returns direct debit info stored on a client's account. This endpoint requires staff user credentials. A null response from this endpoint indicates that the client has no usable direct debit information on their account.Use the POST AddClientDirectDebitInfo endpoint to add direct debit information to a client’s account.
      operationId: getDirectDebitInfo
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: clientId
        in: query
        required: false
        description: The ID of the client.
        schema:
          type: string
        example: example-value
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitInfo'
              examples:
                Getdirectdebitinfo200Example:
                  summary: Default getDirectDebitInfo 200 example
                  x-microcks-default: true
                  value:
                    NameOnAccount: example-value
                    RoutingNumber: example-value
                    AccountNumber: example-value
                    AccountType: example-value
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
    delete:
      tags:
      - Client
      summary: Mindbody This Endpoint Deletes Direct Debit Info from a Client’s Account. This
      description: This endpoint deletes direct debit info from a client’s account. This endpoint requires staff user credentials.
      operationId: deleteDirectDebitInfo
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: clientId
        in: query
        required: false
        description: The ID of the client.
        schema:
          type: string
        example: example-value
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/clientduplicates:
    get:
      tags:
      - Client
      summary: Mindbody This Endpoint Gets Client Records That Would Be Considered Duplicates
      description: This endpoint gets client records that would be considered duplicates based on case-insensitive matching of the client's first name, last name, and email. For there to be results, all three parameters must match a client record. This endpoint requires staff user credentials. An empty `ClientDuplicates` object in the response from this endpoint indicates that there were no client records found that match the first name, last name, and email fields passed in. If one client record is returned, it is not a duplicate itself, but no other client record can be created or updated that would match this client's first name, last name, and email combination. If more than one client record is returned, these clients are duplicates of each other.We recommend discussing with the business how they would like to resolve duplicate records in the event the response contains more than one client record.Businesses can use the Merge Duplicate Clients tool in the Core Business Mode software to resolve the duplicate client records.
      operationId: getClientDuplicates
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.email
        in: query
        required: false
        description: The client email to match on when searching for duplicates.
        schema:
          type: string
        example: kinlane@example.com
      - name: request.firstName
        in: query
        required: false
        description: The client first name to match on when searching for duplicates.
        schema:
          type: string
        example: example-value
      - name: request.lastName
        in: query
        required: false
        description: The client last name to match on when searching for duplicates.
        schema:
          type: string
        example: example-value
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClientDuplicatesResponse'
              examples:
                Getclientduplicates200Example:
                  summary: Default getClientDuplicates 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    ClientDuplicates:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/clientformulanotes:
    get:
      tags:
      - Client
      summary: 'Mindbody ***QueryParams***: Enables to Retrieve Cross Regional Formula Notes'
      description: '***QueryParams***: Enables to retrieve cross regional formula notes for a client, or for a specific appointment. The two parameters are optional, however at least one must be provided. This endpoint supports pagination.'
      operationId: getClientFormulaNotes
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.appointmentId
        in: query
        required: false
        description: The appointment ID of an appointment in the studio specified in the header of the request.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.clientId
        in: query
        required: false
        description: The client ID of the client whose formula notes are being requested.
        schema:
          type: string
        example: example-value
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClientFormulaNotesResponse'
              examples:
                Getclientformulanotes200Example:
                  summary: Default getClientFormulaNotes 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    FormulaNotes:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/clientindexes:
    get:
      tags:
      - Client
      summary: Mindbody Client Indexes Are Used to Analyze Client Demographics. a Business
      description: Client indexes are used to analyze client demographics. A business owner can set up different categories with sets of values which they can assign to each client. Client indexes are used in client searches, for tagging clients so that the owner can send mass emails to similar groups, and for many reports. For more information, see Client Indexes and [Client Index Values (video tutorial)](https://support.mindbodyonline.com/s/article/203261653-Clien t-indexes-and-client-index-values-video-tutorial?language=en_USclient).
      operationId: getClientIndexes
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.requiredOnly
        in: query
        required: false
        description: When `true`, filters the results to only indexes that are required on creation.<br /> When `false` or omitted, returns all of the client indexes.
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClientIndexesResponse'
              examples:
                Getclientindexes200Example:
                  summary: Default getClientIndexes 200 example
                  x-microcks-default: true
                  value:
                    ClientIndexes:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/clientpurchases:
    get:
      tags:
      - Client
      summary: Mindbody Gets a List of Purchases Made by a Specific Client
      description: Gets a list of purchases made by a specific client.
      operationId: getClientPurchases
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: request.clientId
        in: query
        required: true
        description: The ID of the client you are querying for purchases.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.endDate
        in: query
        required: false
        description: 'Filters results to purchases made before this timestamp.<br /> Default: **end of today**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.saleId
        in: query
        required: false
        description: Filters results to the single record associated with this ID.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.startDate
        in: query
        required: false
        description: 'Filters results to purchases made on or after this timestamp.<br /> Default: **now**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.uniqueClientId
        in: query
        required: false
        description: The unique ID of the requested client.
        schema:
          type: integer
          format: int32
        example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClientPurchasesResponse'
              examples:
                Getclientpurchases200Example:
                  summary: Default getClientPurchases 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Purchases:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/clientreferraltypes:
    get:
      tags:
      - Client
      summary: Mindbody Gets a List of Referral Types. Referral Types Are Options That New
      description: Gets a list of referral types. Referral types are options that new clients can choose to identify how they learned about the business. Referral types are typically used for the sign-up process.
      operationId: getClientReferralTypes
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.includeInactive
        in: query
        required: false
        description: When `true`, filters the results to include subtypes and inactive referral types.<br /> When `false`, includes no subtypes and only active types. Default:**false**
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClientReferralTypesResponse'
              examples:
                Getclientreferraltypes200Example:
                  summary: Default getClientReferralTypes 200 example
                  x-microcks-default: true
                  value:
                    ReferralTypes:
                    - example-value
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/clientrewards:
    get:
      tags:
      - Client
      summary: Mindbody Gets the Client Rewards
      description: Gets the client rewards.
      operationId: getClientRewards
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: request.clientId
        in: query
        required: true
        description: The ID of the client.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.endDate
        in: query
        required: false
        description: 'The end date of transaction. Default: **StartDate**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.startDate
        in: query
        required: false
        description: 'The start date of transaction. Default: **today**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClientRewardsResponse'
              examples:
                Getclientrewards200Example:
                  summary: Default getClientRewards 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Balance: 1
                    Transactions:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
    post:
      tags:
      - Client
      summary: Mindbody Earns or Redeems Rewards Points for a Given Client, Based on Site
      description: Earns or redeems rewards points for a given client, based on site settings. Cross regional rewards are not supported at this time.
      operationId: updateClientRewards
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClientRewardsRequest'
            examples:
              UpdateclientrewardsRequestExample:
                summary: Default updateClientRewards request example
                x-microcks-default: true
                value:
                  ClientId: example-value
                  Points: 1
                  Action: example-value
                  Source: example-value
                  SourceId: 123456
                  ActionDateTime: '2026-05-28T14:30:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClientRewardsResponse'
              examples:
                Updateclientrewards200Example:
                  summary: Default updateClientRewards 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Balance: 1
                    Transactions:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/clients:
    get:
      tags:
      - Client
      summary: Mindbody This Endpoint Requires Staff User Credentials. This Endpoint Supports
      description: This endpoint requires staff user credentials. This endpoint supports pagination. See Pagination for a description of the Pagination information.
      operationId: getClients
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.clientIDs
        in: query
        required: false
        description: 'The requested client IDs. Default: **all IDs** that the authenticated user’s access level allows.<br /> Note: You can fetch information for maximum 20 clients at once.'
        schema:
          type: array
          items:
            type: string
        example:
        - example-value
      - name: request.includeInactive
        in: query
        required: false
        description: 'When `true`, indicates the results to include active and inactive clients.<br /> When `false`, indicates that only those clients who are marked as active should be returned. Default: **false**'
        schema:
          type: boolean
        example: true
      - name: request.isProspect
        in: query
        required: false
        description: When `true`, filters the results to include only those clients marked as prospects for the business.<br /> When `false`, indicates that only those clients who are not marked prospects should be returned.
        schema:
          type: boolean
        example: true
      - name: request.lastModifiedDate
        in: query
        required: false
        description: Filters the results to include only the clients that have been modified on or after this date.
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.searchText
        in: query
        required: false
        description: Text to use in the search. Can include FirstName, LastName, and Email. Note that user credentials must be provided.
        schema:
          type: string
        example: example-value
      - name: request.uniqueIds
        in: query
        required: false
        description: 'Filters results to clients with these `UniqueIDs`. This parameter cannot be used with `ClientIDs` or `SearchText`. Default: **all UniqueIDs** that the authenticated user’s access level allows.'
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClientsResponse'
              examples:
                Getclients200Example:
                  summary: Default getClients 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Clients:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/clientschedule:
    get:
      tags:
      - Client
      summary: Mindbody This Endpoint Can Be Utilized to Retrieve Scheduled Visits Which is
      description: This endpoint can be utilized to retrieve scheduled visits which is associated with the requested client.
      operationId: getClientSchedule
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.clientAssociatedSitesOffset
        in: query
        required: false
        description: The number of sites to skip when returning the site associated with a client.
        schema:
          type: integer
          format: int32
        example: 10
      - name: request.clientId
        in: query
        required: false
        description: The ID of the requested client.
        schema:
          type: string
        example: example-value
      - name: request.crossRegionalLookup
        in: query
        required: false
        description: When `true`, indicates that past and scheduled client visits across all sites in the region are returned. When `false`, indicates that only visits at the current site are returned.
        schema:
          type: boolean
        example: true
      - name: request.endDate
        in: query
        required: false
        description: The date past which class visits are not returned. Default is today’s date
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.includeWaitlistEntries
        in: query
        required: false
        description: 'When `true`, waitlist entries are included in the response. When `false`, waitlist entries are removed from the response. Default: **false**'
        schema:
          type: boolean
        example: true
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.startDate
        in: query
        required: false
        description: The date before which class visits are not returned. Default is the end date
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.uniqueClientId
        in: query
        required: false
        description: 'The unique ID of the requested client. Note: you need to provide the ''UniqueClientId'' OR the ''ClientId''. If both are provided, the ''UniqueClientId'' takes precedence.'
        schema:
          type: integer
          format: int32
        example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClientScheduleResponse'
              examples:
                Getclientschedule200Example:
                  summary: Default getClientSchedule 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Visits:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/clientservices:
    get:
      tags:
      - Client
      summary: Mindbody Get Pricing Options That a Client Has Purchased
      description: Get pricing options that a client has purchased.
      operationId: getClientServices
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.classId
        in: query
        required: false
        description: Filters results to only those pricing options that can be used to pay for this class.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.classScheduleID
        in: query
        required: false
        description: Filters results to pricing options which are associated with one of the ClassScheduleIDs
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.clientAssociatedSitesOffset
        in: query
        required: false
        description: Used to retrieve a client’s pricing options from multiple sites within an organization when the client is associated with more than ten sites. To change which ten sites are searched, change this offset value. A value of 0 means that no sites are skipped and the first ten sites are returned. You can use the `CrossRegionalClientAssociations` value from `GET CrossRegionalClientAssociations` to determine how many sites the client is associated with. Note that you must always have `CrossRegionalLooku
        schema:
          type: integer
          format: int32
        example: 10
      - name: request.clientId
        in: query
        required: false
        description: The ID of the client to query. The results are a list of pricing options that the client has purchased. Note that “service” and “pricing option” are synonymous in this section of the documentation.
        schema:
          type: string
        example: example-value
      - name: request.clientIds
        in: query
        required: false
        description: The IDs of the clients to query. The results are a list of pricing options that the clients have purchased. ClientId parameter takes priority over ClientIds due to backward compatibility. So if you want to use ClientIds, then ClientId needs to be empty. Either of ClientId or ClientIds need to be specified
        schema:
          type: array
          items:
            type: string
        example:
        - example-value
      - name: request.crossRegionalLookup
        in: query
        required: false
        description: Used to retrieve a client’s pricing options from multiple sites within an organization. When included and set to `true`, it searches a maximum of ten sites with which this client is associated. When a client is associated with more than ten sites, use `ClientAssociatedSitesOffset` as many times as needed to search the additional sites with which the client is associated. You can use the `CrossRegionalClientAssociations` value from `GET CrossRegionalClientAssociations` to determine how many sites
        schema:
          type: boolean
        example: true
      - name: request.endDate
        in: query
        required: false
        description: 'Filters results to pricing options that are purchased on or before this date. Default: **today’s date**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.excludeInactiveSites
        in: query
        required: false
        description: 'When this flag is set to `true`, will exclude inactive sites from the response. Default: **false**'
        schema:
          type: boolean
        example: true
      - name: request.ignoreCrossRegionalSiteLimit
        in: query
        required: false
        description: 'Used to specify if the number of cross regional sites used to search for client’s pricing options should be ignored. Default: **false**'
        schema:
          type: boolean
        example: true
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.locationIds
        in: query
        required: false
        description: Filters results to pricing options that can be used at the listed location IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.programIds
        in: query
        required: false
        description: Filters results to pricing options that belong to one of the given program IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.sessionTypeId
        in: query
        required: false
        description: Filters results to pricing options that will pay for the given session type ID. Use this to find pricing options that will pay for a specific appointment type.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.showActiveOnly
        in: query
        required: false
        description: 'When `true`, includes active services only. Default: **false**'
        schema:
          type: boolean
        example: true
      - name: request.startDate
        in: query
        required: false
        description: 'Filters results to pricing options that are purchased on or after this date. Default: **today’s date**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.uniqueClientId
        in: query
        required: false
        description: The unique ID of the client to query. Note that UniqueClientId takes precedence over ClientId.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.uniqueClientIds
        in: query
        required: false
        description: The Unique IDs of the clients to query. Note that UniqueClientIds collection takes precedence over ClientIds collection.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.useActivateDate
        in: query
        required: false
        description: 'When this flag is set to `true`, the date filtering will use activate date to filter the pricing options. When this flag is set to `false`, the date filtering will use purchase date to filter the pricing options. Default: **false**'
        schema:
          type: boolean
        example: true
      - name: request.visitCount
        in: query
        required: false
        description: A filter on the minimum number of visits a service can pay for.
        schema:
          type: integer
          format: int32
        example: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClientServicesResponse'
              examples:
                Getclientservices200Example:
                  summary: Default getClientServices 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    ClientServices:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/clientvisits:
    get:
      tags:
      - Client
      summary: Mindbody Gets the Client Visits for a Specific Client
      description: Gets the Client Visits for a specific client.
      operationId: getClientVisits
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.clientAssociatedSitesOffset
        in: query
        required: false
        description: The number of sites to skip when returning the site associated with a client.
        schema:
          type: integer
          format: int32
        example: 10
      - name: request.clientId
        in: query
        required: false
        description: The ID of the requested client.
        schema:
          type: string
        example: example-value
      - name: request.crossRegionalLookup
        in: query
        required: false
        description: When `true`, indicates that past and scheduled client visits across all sites in the region are returned.<br /> When `false`, indicates that only visits at the current site are returned.
        schema:
          type: boolean
        example: true
      - name: request.endDate
        in: query
        required: false
        description: 'The date past which class visits are not returned. Default: **today''s date**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.order
        in: query
        required: false
        description: The sort order for the results.<br /> When `desc`, results are returned in descending order (newest first).<br /> When `asc`, results are returned in ascending order (oldest first).
        schema:
          type: string
        example: example-value
      - name: request.startDate
        in: query
        required: false
        description: 'The date before which class visits are not returned. Default: **the end date**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.uniqueClientId
        in: query
        required: false
        description: 'The unique ID of the requested client. Note: you need to provide the ''UniqueClientId'' OR the ''ClientId''. If both are provided, the ''UniqueClientId'' takes precedence.'
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.unpaidsOnly
        in: query
        required: false
        description: 'When `true`, indicates that only visits that have not been paid for are returned.<br /> When `false`, indicates that all visits are returned, regardless of whether they have been paid for.<br /> Default: **false**'
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClientVisitsResponse'
              examples:
                Getclientvisits200Example:
                  summary: Default getClientVisits 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Visits:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/contactlogs:
    get:
      tags:
      - Client
      summary: Mindbody This Endpoint Contains a Variety of Filters That Can Return Not Just
      description: This endpoint contains a variety of filters that can return not just all contact logs, but also system-generated contact logs, contact logs assigned to specific staff members, and contact logs of specific types or subtypes.
      operationId: getContactLogs
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: request.clientId
        in: query
        required: true
        description: The ID of the client whose contact logs are being requested.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.endDate
        in: query
        required: false
        description: 'Filters the results to contact logs created before this date.<br /> Default: **the start date**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.showSystemGenerated
        in: query
        required: false
        description: 'When `true`, system-generated contact logs are returned in the results.<br /> Default: **false**'
        schema:
          type: boolean
        example: true
      - name: request.staffIds
        in: query
        required: false
        description: Filters the results to return contact logs assigned to one or more staff IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.startDate
        in: query
        required: false
        description: 'Filters the results to contact logs created on or after this date.<br /> Default: **the current date**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.subtypeIds
        in: query
        required: false
        description: Filters the results to contact logs assigned one or more of these subtype IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.typeIds
        in: query
        required: false
        description: Filters the results to contact logs assigned one or more of these type IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContactLogsResponse'
              examples:
                Getcontactlogs200Example:
                  summary: Default getContactLogs 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    ContactLogs:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/contactlogtypes:
    get:
      tags:
      - Client
      summary: Mindbody This Endpoint Contains a Variety of Filters That Can Return Not Just
      description: This endpoint contains a variety of filters that can return not just all contact logs, but also system-generated contact logs, contact logs assigned to specific staff members, and contact logs of specific types or subtypes.
      operationId: getContactLogTypes
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.contactLogTypeId
        in: query
        required: false
        description: 'The requested ContactLogType ID. Default: **all** IDs that the authenticated user’s access level allows.'
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContactLogTypesResponse'
              examples:
                Getcontactlogtypes200Example:
                  summary: Default getContactLogTypes 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    ContactLogTypes:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/crossregionalclientassociations:
    get:
      tags:
      - Client
      summary: Mindbody Returns a List of Sites That a Particular Client ID (also Referred to
      description: Returns a list of sites that a particular client ID (also referred to as an RSSID) or a client email address is associated with in a cross-regional organization. Either the `ClientID` or `Email` parameter is required. If both are provided, the `ClientID` is used. Use this endpoint to retrieve information for other Public API endpoints, about the same client at multiple sites within an organization. To use this endpoint, your developer account must have been granted permission to the site's entire organization. Note that this endpoint does not work on the Developer Sandbox site, as it is not set up for cross-regional use cases.
      operationId: getCrossRegionalClientAssociations
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.clientId
        in: query
        required: false
        description: Looks up the cross regional associations by the client’s ID.
        schema:
          type: string
        example: example-value
      - name: request.email
        in: query
        required: false
        description: Looks up the cross regional associations by the client’s email address.
        schema:
          type: string
        example: kinlane@example.com
      - name: request.excludeInactiveSites
        in: query
        required: false
        description: 'Used to exclude inactive and deleted sites from the results. When this flag is set to `true`, client profiles associated with inactive and deleted sites are not getting returned. When this flag is set to `false`,client profiles associated with inactive and deleted sites are getting returned. Default: **true**'
        schema:
          type: boolean
        example: true
      - name: request.firstName
        in: query
        required: false
        description: First name (used for email queries)
        schema:
          type: string
        example: example-value
      - name: request.lastName
        in: query
        required: false
        description: Last name (used for email queries)
        schema:
          type: string
        example: example-value
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.uniqueClientId
        in: query
        required: false
        description: 'Looks up the cross regional associations by the unique client’s ID. Note: you need to provide the ''UniqueClientId'' OR the ''ClientId'' OR the ''Email''. ''UniqueClientId'' takes precedence when provided. If not, but both ''ClientId'' and ''Email'' are provided, ''ClientId'' is used by default.'
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.v2
        in: query
        required: false
        description: Use newer method
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCrossRegionalClientAssociationsResponse'
              examples:
                Getcrossregionalclientassociations200Example:
                  summary: Default getCrossRegionalClientAssociations 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    CrossRegionalClientAssociations:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/customclientfields:
    get:
      tags:
      - Client
      summary: Mindbody Get a Site's Configured Custom Client Fields
      description: Get a site's configured custom client fields.
      operationId: getCustomClientFields
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomClientFieldsResponse'
              examples:
                Getcustomclientfields200Example:
                  summary: Default getCustomClientFields 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    CustomClientFields:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/requiredclientfields:
    get:
      tags:
      - Client
      summary: Mindbody Gets the List of Fields That a New Client Has to Fill Out in Business
      description: Gets the list of fields that a new client has to fill out in business mode, specifically for the sign-up process. `AddClient` and `UpdateClient` validate against these fields. This endpoint has no query parameters.
      operationId: getRequiredClientFields
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRequiredClientFieldsResponse'
              examples:
                Getrequiredclientfields200Example:
                  summary: Default getRequiredClientFields 200 example
                  x-microcks-default: true
                  value:
                    RequiredClientFields:
                    - example-value
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/addarrival:
    post:
      tags:
      - Client
      summary: Mindbody Marks a Client as Arrived for a Specified Location. a Staff User Token
      description: 'Marks a client as arrived for a specified location. A staff user token must be included with staff assigned the LaunchSignInScreen permission. When used on a site that is part of a region, the following additional logic will apply: * When a client exists within the region but not at the studio where the arrival is being logged, a local client record will be automatically created. * If the local client does not have an applicable local membership or pricing option, a membership or pricing option will be automatically used if it exists elsewhere within the region.'
      operationId: addArrival
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddArrivalRequest'
            examples:
              AddarrivalRequestExample:
                summary: Default addArrival request example
                x-microcks-default: true
                value:
                  ClientId: example-value
                  LocationId: 123456
                  ArrivalTypeId: 123456
                  LeadChannelId: 123456
                  Test: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddArrivalResponse'
              examples:
                Addarrival200Example:
                  summary: Default addArrival 200 example
                  x-microcks-default: true
                  value:
                    ArrivalAdded: true
                    ClientService: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/addclient:
    post:
      tags:
      - Client
      summary: Mindbody Starting the Week of May 11th, 2020 All Versions of the Public API
      description: Starting the week of May 11th, 2020 all versions of the Public API will no longer allow duplicate clients to be created. This applies to both adding a client and updating a client record. A duplicate client is created when two profiles have the same first name, last name and email.<br /> Creates a new client record at the specified business.Passing a User Token as Authorization will create a client and respect Business Mode required fields.Omitting the token will create a client and respect Consumer Mode required fi elds. To make sure you are collecting all required pieces of information, first run GetRequired ClientFields.<br /> If you have purchased an Ultimate tier then this endpoint will automatically start showing new opportunity on Sales Pipeline.
      operationId: addClient
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddClientRequest'
            examples:
              AddclientRequestExample:
                summary: Default addClient request example
                x-microcks-default: true
                value:
                  FirstName: Alex
                  LastName: Lane
                  AccountBalance: 49.99
                  Action: {}
                  Active: true
                  AddressLine1: 123 Market St
                  AddressLine2: 123 Market St
                  ApptGenderPrefMale: true
                  BirthDate: '2026-05-28T14:30:00Z'
                  City: San Francisco
                  ClientCreditCard: {}
                  ClientIndexes:
                  - {}
                  ClientRelationships:
                  - {}
                  Country: US
                  CreationDate: '2026-05-28T14:30:00Z'
                  CustomClientFields:
                  - {}
                  Email: kinlane@example.com
                  EmergencyContactInfoEmail: kinlane@example.com
                  EmergencyContactInfoName: example-value
                  EmergencyContactInfoPhone: '+15551234567'
                  EmergencyContactInfoRelationship: example-value
                  FirstAppointmentDate: '2026-05-28T14:30:00Z'
                  Gender: example-value
                  HomeLocation: {}
                  HomePhone: '+15551234567'
                  IsCompany: true
                  IsProspect: true
                  LastFormulaNotes: Example note for Mindbody Public API.
                  LastModifiedDateTime: '2026-05-28T14:30:00Z'
                  Liability: {}
                  LiabilityRelease: true
                  MembershipIcon: 1
                  MiddleName: example-value
                  MobilePhone: '+15551234567'
                  MobileProvider: 1
                  NewId: example-value
                  Notes: Example note for Mindbody Public API.
                  PhotoUrl: https://example.mindbodyonline.com/resource/abc123
                  PostalCode: '94110'
                  ProspectStage: {}
                  RedAlert: example-value
                  ReferredBy: example-value
                  SalesReps:
                  - {}
                  SiteId: -99
                  State: CA
                  Status: Active
                  Test: true
                  UniqueId: 123456
                  WorkExtension: example-value
                  WorkPhone: '+15551234567'
                  YellowAlert: example-value
                  SendScheduleEmails: true
                  SendAccountEmails: true
                  SendPromotionalEmails: true
                  SendScheduleTexts: true
                  SendAccountTexts: true
                  SendPromotionalTexts: true
                  LockerNumber: example-value
                  ReactivateInactiveClient: true
                  LeadChannelId: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddClientResponse'
              examples:
                Addclient200Example:
                  summary: Default addClient 200 example
                  x-microcks-default: true
                  value:
                    Client: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/addclientdirectdebitinfo:
    post:
      tags:
      - Client
      summary: Mindbody This Endpoint Adds Direct Debit Info to a Client’s Account. This
      description: This endpoint adds direct debit info to a client’s account. This endpoint requires staff user credentials.
      operationId: addClientDirectDebitInfo
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddClientDirectDebitInfoRequest'
            examples:
              AddclientdirectdebitinfoRequestExample:
                summary: Default addClientDirectDebitInfo request example
                x-microcks-default: true
                value:
                  Test: true
                  ClientId: example-value
                  NameOnAccount: example-value
                  RoutingNumber: example-value
                  AccountNumber: example-value
                  AccountType: example-value
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddClientDirectDebitInfoResponse'
              examples:
                Addclientdirectdebitinfo200Example:
                  summary: Default addClientDirectDebitInfo 200 example
                  x-microcks-default: true
                  value:
                    ClientId: example-value
                    NameOnAccount: example-value
                    RoutingNumber: example-value
                    AccountNumber: example-value
                    AccountType: example-value
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/addclientformulanote:
    post:
      tags:
      - Client
      summary: Mindbody This Endpoint Adds a Formula Note for a Specified Client or Specified
      description: This endpoint adds a formula note for a specified client or specified client appointment. A staff user token must be included with staff assigned permission to view client profile or have both ViewAppointmentDetails and ModifyAppointment permissions.
      operationId: addFormulaNote
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFormulaNoteRequest'
            examples:
              AddformulanoteRequestExample:
                summary: Default addFormulaNote request example
                x-microcks-default: true
                value:
                  ClientId: example-value
                  Note: example-value
                  AppointmentId: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormulaNoteResponse'
              examples:
                Addformulanote200Example:
                  summary: Default addFormulaNote 200 example
                  x-microcks-default: true
                  value:
                    Id: 123456
                    ClientId: example-value
                    AppointmentId: 123456
                    EntryDate: '2026-05-28T14:30:00Z'
                    Note: example-value
                    SiteId: -99
                    SiteName: example-value
                    StaffFirstName: example-value
                    StaffLastName: example-value
                    StaffDisplayName: example-value
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/client/addcontactlog:
    post:
      tags:
      - Client
      summary: Mindbody Add a Contact Log to a Client's Account
      description: Add a contact log to a client's account.
      operationId: addContactLog
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContactLogRequest'
            examples:
              AddcontactlogRequestExample:
                summary: Default addContactLog request example
                x-microcks-default: true
                value:
                  ClientId: example-value
                  ContactMethod: example-value
                  AssignedToStaffId: 123456
                  Text: example-value
                  FollowupByDate: '2026-05-28T14:30:00Z'
                  ContactName: example-value
                  IsComplete: true
                  Comments:
                  - Example note for Mindbody Public API.
                  Types:
                  - {}
                  Test: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactLog'
              examples:
                Addcontactlog200Example:
                  summary: Default addContactLog 200 example
                  x-microcks-default: true
                  value:
                    Id: 123456
                    Text: example-value
                    CreatedDateTime: '2026-05-28T14:30:00Z'
                    FollowupByDate: '2026-05-28T14:30:00Z'
[...]
