openapi: 3.0.3
info:
  title: Mindbody Public API v6 Appointment Sale API
  version: '6.0'
  description: REST API for Mindbody business management data including appointments, classes, clients, enrollments, sales, sites, staff, payroll, and cross-site operations. Authentication combines a Mindbody-issued API-Key header with a SiteId header and optional staff/user OAuth bearer tokens for write operations. Generated from the official Mindbody Public API Python SDK (apimatic v3).
  contact:
    name: Mindbody API Support
    url: https://support.mindbodyonline.com/s/contactapisupport
  license:
    name: Proprietary
  x-generated-from: Mindbody-API-SDKs python SDK
  x-last-validated: '2026-05-28'
servers:
- url: https://api.mindbodyonline.com
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Sale
  description: Sale operations.
paths:
  /public/v6/sale/acceptedcardtypes:
    get:
      tags:
      - Sale
      summary: Mindbody Gets a List of Card Types That the Site Accepts. You Can Also Use `GET
      description: 'Gets a list of card types that the site accepts. You can also use `GET Sites` to return the Site object, which contains individual accepted card types for requested sites. This endpoint has no query parameters.The response returns a list of strings. Possible values are: * Visa * MasterCard * Discover * AMEX'
      operationId: getAcceptedCardTypes
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/alternativepaymentmethods:
    get:
      tags:
      - Sale
      summary: Mindbody Get Alternative and Local Payment Methods That Are Allowed for a Site
      description: 'Get alternative and local payment methods that are allowed for a site. These payment methods can later be used in `Initiate Checkout Shopping Cart Using Alternative Payments` and `Initiate Purchase Contract Using Alternative Payments` to make the payment. The currently supported alternative payments are: - iDEAL - Apple Pay **Notes:** - This endpoint is only available for Studios on MBPS (Mindbody Payments) with Stripe payment processor. - This endpoint only supports the online store location (LocationId = 98). If LocationId is not provided, it will default to 98.'
      operationId: getAlternativePaymentMethods
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.clientId
        in: query
        required: false
        description: The client ID
        schema:
          type: string
        example: example-value
      - name: request.locationId
        in: query
        required: false
        description: 'The location ID Default: **null** (Online store location)'
        schema:
          type: integer
          format: int32
        example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAlternativePaymentMethodsResponse'
              examples:
                Getalternativepaymentmethods200Example:
                  summary: Default getAlternativePaymentMethods 200 example
                  x-microcks-default: true
                  value:
                    PaymentMethods:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/contracts:
    get:
      tags:
      - Sale
      summary: Mindbody Returns the Contracts and Autopay Options That Are Available on a
      description: Returns the contracts and autopay options that are available on a location-by-location basis. Depending on the configurations established by the site, this endpoint returns options that can be used to sign up clients for recurring payments for services offered by the business.
      operationId: getContracts
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: request.locationId
        in: query
        required: true
        description: The ID of the location that has the requested contracts and AutoPay options.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.contractIds
        in: query
        required: false
        description: When included, the response only contains details about the specified contract IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.promoCode
        in: query
        required: false
        description: PromoCode to apply
        schema:
          type: string
        example: example-value
      - name: request.soldOnline
        in: query
        required: false
        description: 'When `true`, the response only contains details about contracts and AutoPay options that can be sold online. When `false`, all contracts are returned. Default: **false**'
        schema:
          type: boolean
        example: true
      - name: request.uniqueClientId
        in: query
        required: false
        description: The ID of the client.
        schema:
          type: integer
          format: int32
        example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContractsResponse'
              examples:
                Getcontracts200Example:
                  summary: Default getContracts 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Contracts:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/custompaymentmethods:
    get:
      tags:
      - Sale
      summary: Mindbody Get Payment Methods That Can Be Used to Pay for Sales at a Site
      description: Get payment methods that can be used to pay for sales at a site.
      operationId: getCustomPaymentMethods
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomPaymentMethodsResponse'
              examples:
                Getcustompaymentmethods200Example:
                  summary: Default getCustomPaymentMethods 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    PaymentMethods:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/giftcardbalance:
    get:
      tags:
      - Sale
      summary: Mindbody Returns a Gift Card’s Remaining Balance
      description: Returns a gift card’s remaining balance.
      operationId: getGiftCardBalance
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: barcodeId
        in: query
        required: false
        description: The barcode ID of the gift card for which you want the balance.
        schema:
          type: string
        example: example-value
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGiftCardBalanceResponse'
              examples:
                Getgiftcardbalance200Example:
                  summary: Default getGiftCardBalance 200 example
                  x-microcks-default: true
                  value:
                    BarcodeId: example-value
                    RemainingBalance: 49.99
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/giftcards:
    get:
      tags:
      - Sale
      summary: Mindbody Returns Information About Gift Cards That Can Be Purchased
      description: Returns information about gift cards that can be purchased.
      operationId: getGiftCards
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.ids
        in: query
        required: false
        description: 'Filters the results to the requested gift card IDs.<br /> Default: **all** gift cards.'
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.includeCustomLayouts
        in: query
        required: false
        description: 'When `true`, includes custom gift card layouts.<br /> When `false`, includes only system layouts. Default: **false**'
        schema:
          type: boolean
        example: true
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.locationId
        in: query
        required: false
        description: When included, returns gift cards that are sold at the provided location ID.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.soldOnline
        in: query
        required: false
        description: 'When `true`, only returns gift cards that are sold online.<br /> Default: **false**'
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGiftCardResponse'
              examples:
                Getgiftcards200Example:
                  summary: Default getGiftCards 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    GiftCards:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/packages:
    get:
      tags:
      - Sale
      summary: Mindbody A Package is Typically Used to Combine Multiple Services And/or
      description: A package is typically used to combine multiple services and/or products into a single offering. Staff members can check out multiple appointments while selling the package, and can discount the items included. For example, a spa might bundle a massage, a pedicure, a manicure, a facial, and a few selected beauty products into a package.
      operationId: getPackages
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.locationId
        in: query
        required: false
        description: 'The location ID to use to determine the tax for the products that this request returns.<br /> Default: **online store**'
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.packageIds
        in: query
        required: false
        description: A list of the packages IDs to filter by.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.sellOnline
        in: query
        required: false
        description: 'When `true`, only returns products that can be sold online.<br /> When `false`, all products are returned.<br /> Default: **false**'
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPackagesResponse'
              examples:
                Getpackages200Example:
                  summary: Default getPackages 200 example
                  x-microcks-default: true
                  value:
                    Packages:
                    - {}
                    PaginationResponse: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/products:
    get:
      tags:
      - Sale
      summary: Mindbody Get Retail Products Available for Purchase at a Site
      description: Get retail products available for purchase at a site.
      operationId: getProducts
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.categoryIds
        in: query
        required: false
        description: A list of revenue category IDs to filter by. Use this ID when calling the GET Categories endpoint.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.locationId
        in: query
        required: false
        description: 'The location ID to use to determine the tax for the products that this request returns.<br /> Default: **online store**'
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.productIds
        in: query
        required: false
        description: The barcode number of the product to be filter by.
        schema:
          type: array
          items:
            type: string
        example:
        - example-value
      - name: request.searchText
        in: query
        required: false
        description: A search filter, used for searching by term.
        schema:
          type: string
        example: example-value
      - name: request.secondaryCategoryIds
        in: query
        required: false
        description: A list of secondary categories to filter by. Use this ID when calling the GET Categories endpoint.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.sellOnline
        in: query
        required: false
        description: 'When `true`, only products that can be sold online are returned.<br /> When `false`, all products are returned.<br /> Default: **false**'
        schema:
          type: boolean
        example: true
      - name: request.subCategoryIds
        in: query
        required: false
        description: A list of subcategory IDs to filter by. Use this ID when calling the GET Categories endpoint.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductsResponse'
              examples:
                Getproducts200Example:
                  summary: Default getProducts 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Products:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
    put:
      tags:
      - Sale
      summary: Mindbody Update Retail Products Available for Purchase at a Site
      description: Update retail products available for purchase at a site.
      operationId: updateProducts
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateProductRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductsResponse'
              examples:
                Updateproducts200Example:
                  summary: Default updateProducts 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Products:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/productsinventory:
    get:
      tags:
      - Sale
      summary: Mindbody Get Retail Products Inventory Data Available at a Site
      description: Get retail products inventory data available at a site.
      operationId: getProductsInventory
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.barcodeIds
        in: query
        required: false
        description: When included, the response only contains details about the specified Barcode Ids.
        schema:
          type: array
          items:
            type: string
        example:
        - example-value
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.locationIds
        in: query
        required: false
        description: When included, the response only contains details about the specified location Ids.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.productIds
        in: query
        required: false
        description: When included, the response only contains details about the specified product Ids.
        schema:
          type: array
          items:
            type: string
        example:
        - example-value
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductsInventoryResponse'
              examples:
                Getproductsinventory200Example:
                  summary: Default getProductsInventory 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    ProductsInventory:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/purchasecontractstatus:
    get:
      tags:
      - Sale
      summary: Mindbody Fetches the Status of an Initiate Purchase Contract Given AccessToken
      description: 'Fetches the status of an initiate purchase contract given accessToken. This endpoint complements the `Initiate Purchase Contract Using Alternative Payments` endpoint. `Initiate Purchase Contract Using Alternative Payments` endpoint will capture the intent to purchase a contract, and return a redirect URL for the end user to make the payment. Once the payment concludes, the end user will be redirected back to the PaymentAuthenticationCallbackUrl, which was provided while invoking the `Initiate Purchase Contract Using Alternative Payments` endpoint. You can then invoke this endpoint to obtain the `PurchaseContractResponse`. **For a comprehensive guide, follow this tutorial:** [Purchase a Contract](https://developers.mindbodyonline.com/ui/documentation/public -api#/http/tutorials/purchase-a-contract) The currently supported alternative payments are: - iDEAL - Apple Pay'
      operationId: getPurchaseContractStatus
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: accessToken
        in: query
        required: true
        description: The request query parameter.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseContractResponse'
              examples:
                Getpurchasecontractstatus200Example:
                  summary: Default getPurchaseContractStatus 200 example
                  x-microcks-default: true
                  value:
                    ClientId: example-value
                    UniqueClientId: 123456
                    LocationId: 123456
                    ContractId: 123456
                    ClientContractId: 123456
                    Totals: {}
                    PaymentProcessingFailures:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/sales:
    get:
      tags:
      - Sale
      summary: Mindbody Get Sales Completed at a Site
      description: Get sales completed at a site.
      operationId: getSales
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.endSaleDateTime
        in: query
        required: false
        description: Filters results to sales that happened before this date and time.
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.paymentMethodId
        in: query
        required: false
        description: Filters results to sales paid for by the given payment method ID which indicates payment method(s) (i.e. cash, VISA, AMEX, Check, etc.).
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.saleId
        in: query
        required: false
        description: The sale ID associated with the particular item. It Filters results to the requested sale ID.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.startSaleDateTime
        in: query
        required: false
        description: Filters results to sales that happened after this date and time.
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSalesResponse'
              examples:
                Getsales200Example:
                  summary: Default getSales 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Sales:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/services:
    get:
      tags:
      - Sale
      summary: Mindbody Get Pricing Options Available for Purchase at a Site
      description: Get pricing options available for purchase at a site
      operationId: getServices
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.classId
        in: query
        required: false
        description: Filters to the pricing options for the specified class ID.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.classScheduleId
        in: query
        required: false
        description: Filters to the pricing options for the specified class schedule ID.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.hideRelatedPrograms
        in: query
        required: false
        description: 'When `true`, indicates that pricing options of related programs are omitted from the response.<br /> Default: **false**'
        schema:
          type: boolean
        example: true
      - name: request.includeDiscontinued
        in: query
        required: false
        description: 'When `true`, indicates that the filtered pricing option list includes discontinued pricing options.<br /> Default: **false**'
        schema:
          type: boolean
        example: true
      - name: request.includeSaleInContractOnly
        in: query
        required: false
        description: 'When `true`, indicates that the filtered pricing option list includes sale in contract only pricing options.<br /> Default: **false**'
        schema:
          type: boolean
        example: true
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.locationId
        in: query
        required: false
        description: When specified, for each returned pricing option, `TaxRate` and `TaxIncluded` are calculated according to the specified location. Note that this does not filter results to only services provided at the given location, and for locations where Value-Added Tax (VAT) rules apply, the `TaxRate` is set to zero.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.programIds
        in: query
        required: false
        description: Filters to pricing options with the specified program IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.sellOnline
        in: query
        required: false
        description: 'When `true`, filters the pricing options to display only those available for online purchase. This parameter is only applicable in Business Mode (when a staff authentication header is included) and ignored in Consumer Mode (when no authentication header is passed). <br />Default: `false` (for staff users) <br />Business Mode: This parameter controls the filtering behavior. Staff users can set this to `true` to show only pricing options that can be sold online, or `false` to show all available pr'
        schema:
          type: boolean
        example: true
      - name: request.serviceIds
        in: query
        required: false
        description: Filters to the pricing options with the specified IDs. In this context, service and pricing option are used interchangeably. These are the `PurchasedItems[].Id` returned from GET Sales.
        schema:
          type: array
          items:
            type: string
        example:
        - example-value
      - name: request.sessionTypeIds
        in: query
        required: false
        description: Filters to the pricing options with the specified session types IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.staffId
        in: query
        required: false
        description: Sets `Price` and `OnlinePrice` to the particular pricing of a specific staff member, if allowed by the business.
        schema:
          type: integer
          format: int32
        example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetServicesResponse'
              examples:
                Getservices200Example:
                  summary: Default getServices 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Services:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
    put:
      tags:
      - Sale
      summary: Mindbody Update Unit Price and Online Price of Provided Services
      description: Update unit price and online price of provided services.
      operationId: updateServices
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateServiceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateServiceResponse'
              examples:
                Updateservices200Example:
                  summary: Default updateServices 200 example
                  x-microcks-default: true
                  value:
                    Services:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/transactions:
    get:
      tags:
      - Sale
      summary: Mindbody This Endpoint Returns a List of Transaction Details of Processed Sales
      description: This endpoint returns a list of transaction details of processed sales.
      operationId: getTransactions
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.clientId
        in: query
        required: false
        description: Filters results to the requested client ID.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.locationId
        in: query
        required: false
        description: Filters the transaction results with the ID number associated with the location of the sale.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.saleId
        in: query
        required: false
        description: Filters the transaction results with the ID number associated with the sale.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.status
        in: query
        required: false
        description: Filters the transaction results by the estimated transaction status.
        schema:
          type: string
        example: example-value
      - name: request.transactionEndDateTime
        in: query
        required: false
        description: 'Filters the transaction results that happpened before this date and time. Default: **today’s date**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.transactionId
        in: query
        required: false
        description: Filters the transaction results with the ID number generated when the sale is processed.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.transactionStartDateTime
        in: query
        required: false
        description: 'Filters the transaction results that happpened after this date and time. Default: **today’s date**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionsResponse'
              examples:
                Gettransactions200Example:
                  summary: Default getTransactions 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Transactions:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/checkoutshoppingcart:
    post:
      tags:
      - Sale
      summary: Mindbody This Endpoint Provides a Wide Range of Functionality. for Example, You
      description: 'This endpoint provides a wide range of functionality. For example, you can use it when a client purchases new pricing options, retail products, packages, and tips. You can also combine purchasing a new pricing option and many other functions, such as booking a client into a class, booking a new appointment for a client, enrolling a client into an enrollment or course, or reconciling an unpaid, already booked appointment or class. Use this call when a client purchases: * a pricing option, after calling `GET Services` and choosing a specific pricing option’s ID * a retail product, after calling `GET Products` and choosing a specific retail product’s ID * a package, after calling `GET Packages` and choosing a specific package’s ID * a tip to give to a staff member, after calling `GET Staff` and choosing a specific staff member ID, and the amount that the client wants to tip The documentation provides explanations of the request body and response, as well as the cart item metadata, payment item metadata, and purchased cart items. This endpoint had been updated to support Strong Customer Authentication (SCA). **Note :** Protect yourself from processor fees and credit card fraud.Remember to always protect your web forms that leverage POST CheckoutShoppingCart, POST PurchaseContract or POST PurchaseGiftCard with a CAPTCHA!'
      operationId: checkoutShoppingCart
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutShoppingCartRequest'
            examples:
              CheckoutshoppingcartRequestExample:
                summary: Default checkoutShoppingCart request example
                x-microcks-default: true
                value:
                  Items:
                  - {}
                  Payments:
                  - {}
                  CartId: example-value
                  ClientId: example-value
                  UniqueClientId: 123456
                  PayerClientId: example-value
                  UniquePayerClientId: 123456
                  Test: true
                  InStore: true
                  CalculateTax: true
                  PromotionCode: example-value
                  SendEmail: true
                  LocationId: 123456
                  Image: example-value
                  ImageFileName: example-value
                  ConsumerPresent: true
                  PaymentAuthenticationCallbackUrl: https://example.mindbodyonline.com/resource/abc123
                  TransactionIds:
                  - 1
                  IsBillingPostalCodeRequired: true
                  EnforceLocationRestrictions: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutShoppingCartResponse'
              examples:
                Checkoutshoppingcart200Example:
                  summary: Default checkoutShoppingCart 200 example
                  x-microcks-default: true
                  value:
                    ShoppingCart: {}
                    Classes:
                    - {}
                    Appointments:
                    - {}
                    Enrollments:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/completecheckoutshoppingcart:
    post:
      tags:
      - Sale
      summary: Mindbody This Endpoint Complements the InitiateCheckoutShoppintCart Endpoint
      description: 'This endpoint complements the InitiateCheckoutShoppintCart endpoint. Please visit its documentation to understand further. The currently supported alternative payments are: - iDEAL - Apple Pay **How to use :** InitiateCheckoutShoppingCart and CompleteCheckoutShoppingCart endpoints work together. InitiateCheckoutShoppingCart endpoint will capture the intent to perform a checkout, and return a redirect URL for the end user to make the payment. Once the payment concludes, the end user will be redirected back to the PaymentAuthenticationCallbackUrl, which was provided while invoking the InitiateCheckoutShoppingCart endpoint. You can then invoke the CompleteCheckoutShoppingCart endpoint to complete the remaining checkout activities and obtain the CheckoutShoppingCartResponse. **For a comprehensive guide, follow this tutorial:** [Checkout Shopping Cart Using Alternative Payments](https://developers.mindbodyonline.com/ui/documentation/public -api#/http/tutorials/checkout-shopping-cart-using-alternative-payments) **Notes:** - This endpoint is only available for Studios on MBPS (Mindbody Payments) with Stripe payment processor. - Protect yourself from processor fees. Remember to always protect your web forms that leverage POST InitiateCheckoutShoppingCart or POST CompleteCheckoutShoppingCart with a CAPTCHA!'
      operationId: completeCheckoutShoppingCartUsingAlternativePayments
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteCheckoutShoppingCartUsingAlternativePaymentsRequest'
            examples:
              CompletecheckoutshoppingcartusingalternativepaymentsRequestExample:
                summary: Default completeCheckoutShoppingCartUsingAlternativePayments request example
                x-microcks-default: true
                value:
                  AccessToken: example-value
                  ClientId: example-value
                  Test: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutShoppingCartResponse'
              examples:
                Completecheckoutshoppingcartusingalternativepayments200Example:
                  summary: Default completeCheckoutShoppingCartUsingAlternativePayments 200 example
                  x-microcks-default: true
                  value:
                    ShoppingCart: {}
                    Classes:
                    - {}
                    Appointments:
                    - {}
                    Enrollments:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/initiatecheckoutshoppingcart:
    post:
      tags:
      - Sale
      summary: Mindbody This Endpoint Provides a Wide Range of Functionality. for Example, You
      description: 'This endpoint provides a wide range of functionality. For example, you can use it when a client purchases new pricing options, retail products, packages, and tips. You can also combine purchasing a new pricing option and many other functions, such as booking a client into a class, booking a new appointment for a client, enrolling a client into an enrollment or course, or reconciling an unpaid, already booked appointment or class. Use this call when a client purchases: * a pricing option, after calling `GET Services` and choosing a specific pricing option’s ID * a retail product, after calling `GET Products` and choosing a specific retail product’s ID * a package, after calling `GET Packages` and choosing a specific package’s ID * a tip to give to a staff member, after calling `GET Staff` and choosing a specific staff member ID, and the amount that the client wants to tip The documentation provides explanations of the request body and response, as well as the cart item metadata, payment item metadata, and purchased cart items. The currently supported alternative payments are: - iDEAL - Apple Pay **How to use :** InitiateCheckoutShoppingCart and CompleteCheckoutShoppingCart endpoints work together. InitiateCheckoutShoppingCart endpoint will capture the intent to perform a checkout, and return a redirect URL for the end user to make the payment. Once the payment concludes, the end user will be redirected back to the PaymentAuthenticationCallbackUrl, which was provided while invoking the InitiateCheckoutShoppingCart endpoint. You can then invoke the CompleteCheckoutShoppingCart endpoint to complete the remaining checkout activities and obtain the CheckoutShoppingCartResponse. **For a comprehensive guide, follow this tutorial:** [Checkout Shopping Cart Using Alternative Payments](https://developers.mindbodyonline.com/ui/documentation/public -api#/http/tutorials/checkout-shopping-cart-using-alternative-payments) **Notes:** - This endpoint is only available for Studios on '
      operationId: initiateCheckoutShoppingCartUsingAlternativePayments
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateCheckoutShoppingCartUsingAlternativePaymentsRequest'
            examples:
              InitiatecheckoutshoppingcartusingalternativepaymentsRequestExample:
                summary: Default initiateCheckoutShoppingCartUsingAlternativePayments request example
                x-microcks-default: true
                value:
                  ClientId: example-value
                  Items:
                  - {}
                  Payments:
                  - {}
                  PaymentAuthenticationCallbackUrl: https://example.mindbodyonline.com/resource/abc123
                  CartId: example-value
                  PayerClientId: example-value
                  Test: true
                  InStore: true
                  CalculateTax: true
                  PromotionCode: example-value
                  SendEmail: true
                  LocationId: 123456
                  TransactionIds:
                  - 1
                  IsBillingPostalCodeRequired: true
                  EnforceLocationRestrictions: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/initiatepurchasecontract:
    post:
      tags:
      - Sale
      summary: Mindbody Allows a Client to Sign Up for a Contract or Autopay Using the
      description: 'Allows a client to sign up for a contract or autopay using the information returned from the `GET Contracts` endpoint. The client can pay with allowed alternative and local payment methods returned from `Get Alternative Payment Method`. The client must exist at the site specified before this call is made. The currently supported alternative payments are: - iDEAL - Apple Pay **For a comprehensive guide, follow this tutorial:** [Purchase a Contract](https://developers.mindbodyonline.com/ui/documentation/public -api#/http/tutorials/purchase-a-contract) **Notes:** - This endpoint is only available for Studios on MBPS (Mindbody Payments) with Stripe payment processor. - This endpoint only supports the online store location (LocationId = 98). If LocationId is not provided, it will default to 98. - This endpoint only supports those payment methods as obtained from the GetAlternativePaymentMethods endpoint. - Protect yourself from processor fees and credit card fraud. Remember to always protect your web forms that leverage POST CheckoutShoppingCart, POST PurchaseContract or POST PurchaseGiftCard with a CAPTCHA!'
      operationId: initiatePurchaseContractUsingAlternativePayments
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiatePurchaseContractRequest'
            examples:
              InitiatepurchasecontractusingalternativepaymentsRequestExample:
                summary: Default initiatePurchaseContractUsingAlternativePayments request example
                x-microcks-default: true
                value:
                  ClientId: example-value
                  ContractId: 123456
                  PaymentMethodId: 123456
                  Test: true
                  LocationId: 123456
                  PromotionCode: example-value
                  PromotionCodes:
                  - example-value
                  SendNotifications: true
                  SalesRepId: 123456
                  PaymentAuthenticationCallbackUrl: https://example.mindbodyonline.com/resource/abc123
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/purchaseaccountcredit:
    post:
      tags:
      - Sale
      summary: Mindbody Allows a Client to Purchase Account Credit from a Business
      description: Allows a client to purchase account credit from a business.
      operationId: purchaseAccountCredit
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseAccountCreditRequest'
            examples:
              PurchaseaccountcreditRequestExample:
                summary: Default purchaseAccountCredit request example
                x-microcks-default: true
                value:
                  ClientId: example-value
                  Test: true
                  LocationId: 123456
                  SendEmailReceipt: true
                  SalesRepId: 123456
                  ConsumerPresent: true
                  PaymentAuthenticationCallbackUrl: https://example.mindbodyonline.com/resource/abc123
                  PaymentInfo: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseAccountCreditResponse'
              examples:
                Purchaseaccountcredit200Example:
                  summary: Default purchaseAccountCredit 200 example
                  x-microcks-default: true
                  value:
                    AmountPaid: 49.99
                    ClientId: example-value
                    SaleId: 123456
                    EmailReceipt: true
                    PaymentProcessingFailures:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/purchasecontract:
    post:
      tags:
      - Sale
      summary: Mindbody Allows a Client to Sign Up for a Contract or Autopay Using the
      description: 'Allows a client to sign up for a contract or autopay using the information returned from the `GET Contracts` endpoint. The client can pay with a new credit card or with a stored credit card. The client must exist at the site specified before this call is made. This endpoint allows a developer to specify whether a client pays now or pays on the `StartDate`. If you are building a client-facing experience, you should talk with the business owner to understand the owner’s policies before you give clients a choice of the two payment types. This endpoint also allows a developer to specify a `ProrateDate`. If the date is passed, the Totals returned will always include the pro-rate amount for instant payment, like: - `FirstPaymentOccurs` = `Instant` =&gt; returns instant payment total for the contract + pro-rate amount. - `FirstPaymentOccurs` = `StartDate` =&gt; returns pro-rate amount + contract amount requiring instant payment. The rest of the contract will be due on `StartDate`. - Pro-rate amount payment on `StartDate` is not supported by this endpoint. This endpoint has been updated to support Strong Customer Authentication (SCA). **Note:** Protect yourself from processor fees and credit card fraud. Remember to always protect your web forms that leverage POST CheckoutShoppingCart, POST PurchaseContract or POST PurchaseGiftCard with a CAPTCHA!'
      operationId: purchaseContract
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseContractRequest'
            examples:
              PurchasecontractRequestExample:
                summary: Default purchaseContract request example
                x-microcks-default: true
                value:
                  ContractId: 123456
                  Test: true
                  LocationId: 123456
                  ClientId: example-value
                  UniqueClientId: 123456
                  StartDate: '2026-05-28T14:30:00Z'
                  FirstPaymentOccurs: example-value
                  ClientSignature: example-value
                  PromotionCode: example-value
                  PromotionCodes:
                  - example-value
                  CreditCardInfo: {}
                  StoredCardInfo: {}
                  SendNotifications: true
                  SalesRepId: 123456
                  UseDirectDebit: true
                  UseAccountCredit: true
                  ConsumerPresent: true
                  PaymentAuthenticationCallbackUrl: https://example.mindbodyonline.com/resource/abc123
                  ProrateDate: '2026-05-28T14:30:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseContractResponse'
              examples:
                Purchasecontract200Example:
                  summary: Default purchaseContract 200 example
                  x-microcks-default: true
                  value:
                    ClientId: example-value
                    UniqueClientId: 123456
                    LocationId: 123456
                    ContractId: 123456
                    ClientContractId: 123456
                    Totals: {}
                    PaymentProcessingFailures:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/purchasegiftcard:
    post:
      tags:
      - Sale
      summary: Mindbody Allows a Client to Purchase a Gift Card from a Business in a Variety
      description: Allows a client to purchase a gift card from a business in a variety of designs. The card can be emailed to the recipient on a specific day, and a card title and a personal message can be added. **Note** Protect yourself from processor fees and credit card fraud.Remember to always protect your web forms that leverage POST CheckoutShoppingCart, POST PurchaseContract or POST PurchaseGiftCard with a CAPTCHA!
      operationId: purchaseGiftCard
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseGiftCardRequest'
            examples:
              PurchasegiftcardRequestExample:
                summary: Default purchaseGiftCard request example
                x-microcks-default: true
                value:
                  LocationId: 123456
                  PurchaserClientId: example-value
                  GiftCardId: 123456
                  Test: true
                  LayoutId: 123456
                  SendEmailReceipt: true
                  RecipientEmail: kinlane@example.com
                  RecipientName: example-value
                  Title: example-value
                  GiftMessage: example-value
                  DeliveryDate: '2026-05-28T14:30:00Z'
                  PaymentInfo: {}
                  SalesRepId: 123456
                  ConsumerPresent: true
                  PaymentAuthenticationCallbackUrl: https://example.mindbodyonline.com/resource/abc123
                  BarcodeId: example-value
                  SenderName: example-value
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseGiftCardResponse'
              examples:
                Purchasegiftcard200Example:
                  summary: Default purchaseGiftCard 200 example
                  x-microcks-default: true
                  value:
                    BarcodeId: example-value
                    Value: 1.0
                    AmountPaid: 49.99
                    FromName: example-value
                    LayoutId: 123456
                    EmailReceipt: true
                    PurchaserClientId: example-value
                    PurchaserEmail: kinlane@example.com
                    RecipientEmail: kinlane@example.com
                    SaleId: 123456
                    PaymentProcessingFailures:
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/returnsale:
    post:
      tags:
      - Sale
      summary: Mindbody Return a Comped Sale for a Specified Sale ID in Business Mode. the
      description: Return a comped sale for a specified sale ID in business mode. The sale is returnable only if it is a sale of a service, product or gift card and it has not been used. Currently, only the comp payment method is supported.
      operationId: returnSale
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnSaleRequest'
            examples:
              ReturnsaleRequestExample:
                summary: Default returnSale request example
                x-microcks-default: true
                value:
                  SaleId: 123456
                  ReturnReason: example-value
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnSaleResponse'
              examples:
                Returnsale200Example:
                  summary: Default returnSale 200 example
                  x-microcks-default: true
                  value:
                    ReturnSaleID: 1
                    TrainerID: 1
                    Amount: 49.99
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/updateproductprice:
    post:
      tags:
      - Sale
      summary: Mindbody This Endpoint Updates the Retail Price and an Online Price for a
      description: This endpoint updates the retail price and an online price for a product. Passing at least one of them is mandatory.
      operationId: updateProductPrice
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductPriceRequest'
            examples:
              UpdateproductpriceRequestExample:
                summary: Default updateProductPrice request example
                x-microcks-default: true
                value:
                  BarcodeId: example-value
                  Price: 49.99
                  OnlinePrice: 49.99
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateProductPriceResponse'
              examples:
                Updateproductprice200Example:
                  summary: Default updateProductPrice 200 example
                  x-microcks-default: true
                  value:
                    Product: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/sale/updatesaledate:
    put:
      tags:
      - Sale
      summary: Mindbody This Endpoint Updates the SaleDate and Returns the Details of the Sale
      description: This endpoint updates the SaleDate and returns the details of the sale.
      operationId: updateSaleDate
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSaleDateRequest'
            examples:
              UpdatesaledateRequestExample:
                summary: Default updateSaleDate request example
                x-microcks-default: true
                value:
                  SaleID: 1
                  SaleDate: '2026-05-28T14:30:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSaleDateResponse'
              examples:
                Updatesaledate200Example:
                  summary: Default updateSaleDate 200 example
                  x-microcks-default: true
                  value:
                    Sale: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
components:
  schemas:
    StatusEnum:
      type: string
      description: StatusEnum enumeration.
      enum:
      - None
      - Requested
      - Booked
      - Completed
      - Confirmed
      - Arrived
      - NoShow
      - Cancelled
      - LateCancelled
    BookingWindow:
      type: object
      description: Implementation of the 'BookingWindow' model. The booking window for registration
      properties:
        StartDateTime:
          type: string
          format: date-time
          description: Date and time that the booking window opens; that is, the first day of sales.
          example: '2026-05-28T14:30:00Z'
        EndDateTime:
          type: string
          format: date-time
          description: Date and time that the booking window closes; that is, the last day of sales.
          example: '2026-05-28T14:30:00Z'
        DailyStartTime:
          type: string
          format: date-time
          description: The time that the booking window opens; that is, the time that the store opens.
          example: '2026-05-28T14:30:00Z'
        DailyEndTime:
          type: string
          format: date-time
          description: The time that the booking window closes; that is, the time that the store closes.
          example: '2026-05-28T14:30:00Z'
    PurchasedItem:
      type: object
      description: Implementation of the 'PurchasedItem' model.
      properties:
        SaleDetailId:
          type: integer
          format: int32
          description: The ID which gets assigned to the item when item is added to the cart.
          example: 123456
        Id:
          type: integer
          format: int32
          description: The ID of the purchased item. Use this ID when calling the GET Services or GET Products endpoint.
          example: 123456
        IsService:
          type: boolean
          description: When `true`, indicates that the purchased item was a pricing option for a service.
          example: true
        BarcodeId:
          type: string
          description: The barcode number of the purchased item. Use this ID when calling the GET Products endpoint.
          example: example-value
        Description:
          type: string
          description: The description of the sale transaction/pricing option.
          example: Example note for Mindbody Public API.
        ContractId:
          type: integer
          format: int32
          description: The contract purchased by the client. Use this ID when calling the GET Contract endpoint.
          example: 123456
        CategoryId:
          type: integer
          format: int32
          description: The revenue category ID used for sale. Use this ID when calling the GET Categories endpoint.
          example: 123456
        SubCategoryId:
          type: integer
          format: int32
          description: The ID of revenue subcategory.
          example: 123456
        UnitPrice:
          type: number
          format: double
          description: er Unit Price of the item purchased.
          example: 49.99
        Quantity:
          type: integer
          format: int32
          description: 'Quantity of the purchased item, applicable for products only. Note: Negative numbers indicate returned items.'
          example: 10
        DiscountPercent:
          type: number
          format: double
          description: The percent discount that was applied to the items subtotal.
          example: 1.0
        DiscountAmount:
          type: number
          format: double
          description: The total discount amount that was applied to the items subtotal.
          example: 49.99
        Tax1:
          type: number
          format: double
          description: A decimal representation of the first tax rate that was applied to the items subtotal.
          example: 1.0
        Tax2:
          type: number
          format: double
          description: A decimal representation of the second tax rate that was applied to the items subtotal.
          example: 1.0
        Tax3:
          type: number
          format: double
          description: A decimal representation of the third tax rate that was applied to the items subtotal.
          example: 1.0
        Tax4:
          type: number
          format: double
          description: A decimal representation of the fourth tax rate that was applied to the items subtotal.
          example: 1.0
        Tax5:
          type: number
          format: double
          description: A decimal representation of the fifth tax rate that was applied to the items subtotal.
          example: 1.0
        TaxAmount:
          type: number
          format: double
          description: Total tax amount that is summation of tax1, tax2, tax3, tax4 and tax5.
          example: 49.99
        TotalAmount:
          type: number
          format: double
          description: The items total, once discounts and/or tax was applied.
          example: 49.99
        Notes:
          type: string
          description: Note made by the customer while purchasing item.
          example: Example note for Mindbody Public API.
        Returned:
          type: boolean
          description: When `true`, indicates that the purchased item is returned, `false` otherwise.
          example: true
        PaymentRefId:
          type: integer
          format: int32
          description: The payment reference ID generated during payment of sold item.
          example: 123456
        ExpDate:
          type: string
          format: date-time
          description: The expiration date of the pricing option purchased.
          example: '2026-05-28T14:30:00Z'
        ActiveDate:
          type: string
          format: date-time
          description: The activation date of pricing option purchased.
          example: '2026-05-28T14:30:00Z'
        GiftCardBarcodeId:
          type: string
          description: Gift Card BarcodeId
          example: example-value
    AlternativePaymentMethod:
      type: object
      description: Implementation of the 'AlternativePaymentMethod' model. DTO object for alternative payment methods.
      properties:
        Id:
          type: integer
          format: int32
          description: The ID of the alternative payment method.
          example: 123456
        Name:
          type: string
          description: The name of the alternative payment method.
          example: Sunset Yoga Studio
    ScheduleTypeEnum:
      type: string
      description: ScheduleTypeEnum enumeration.
      enum:
      - All
      - Class
      - Enrollment
      - Appointment
      - Resource
      - Media
      - Arrival
    CompleteCheckoutShoppingCartUsingAlternativePaymentsRequest:
      type: object
      description: Implementation of the 'CompleteCheckoutShoppingCartUsingAlternativePaymentsRequest' model. The API Request model for Complete Checkout Shopping Cart API.
      properties:
        AccessToken:
          type: string
          description: The Access Token generated during Pre-Payment step.
          example: example-value
        ClientId:
          type: string
          description: The RSSID of the client making the purchase. A cart can be validated without a client ID, but a client ID must be specified to complete a sale.
          example: example-value
        Test:
          type: boolean
          description: 'When `true`, indicates that the contents of the cart are validated, but the transaction does not take place. You should use this parameter during testing and when checking the calculated totals of the items in the cart.<br /> When `false`, the transaction takes place and the database is affected.<br /> Default: **false**'
          example: true
    GetServicesResponse:
      type: object
      description: Implementation of the 'GetServicesResponse' model.
      properties:
        PaginationResponse:
          $ref: '#/components/schemas/PaginationResponse'
          description: Contains information about the pagination used.
        Services:
          type: array
          items:
            $ref: '#/components/schemas/Service'
          description: Contains information about the services.
          example:
          - {}
    ResourceAvailability:
      type: object
      description: Implementation of the 'ResourceAvailability' model. An availability of a resource
      properties:
        ResourceId:
          type: integer
          format: int32
          description: Id
          example: 123456
        StartDateTime:
          type: string
          format: date-time
          description: Starts
          example: '2026-05-28T14:30:00Z'
        EndDateTime:
          type: string
          format: date-time
          description: Ends
          example: '2026-05-28T14:30:00Z'
    UpdateProductPriceResponse:
      type: object
      description: Implementation of the 'UpdateProductPriceResponse' model. Update Product Price Response Model
      properties:
        Product:
          $ref: '#/components/schemas/Product'
          description: Contains information about the product.
    ContractItem:
      type: object
      description: Implementation of the 'ContractItem' model.
      properties:
        Id:
          type: string
          description: The ID of the item.
          example: example-value
        Name:
          type: string
          description: The name of the item.
          example: Sunset Yoga Studio
        Description:
          type: string
          description: A description of the item.
          example: Example note for Mindbody Public API.
        Type:
          type: string
          description: The type of the item.
          example: example-value
        Price:
          type: number
          format: double
          description: The price of the item.
          example: 49.99
        Quantity:
          type: integer
          format: int32
          description: The quantity of the item.
          example: 10
        OneTimeItem:
          type: boolean
          description: When `true`, indicates that the item is charged only once.<br /> When `false`, indicates that the item is charged multiple times.
          example: true
    Liability:
      type: object
      description: Implementation of the 'Liability' model.
      properties:
        AgreementDate:
          type: string
          format: date-time
          description: The date and time at which the client agreed to the liability waiver for the business.
          example: '2026-05-28T14:30:00Z'
        IsReleased:
          type: boolean
          description: The client’s liability release status.<br /> When `true`, indicates that the client has agreed to the liability release for the business.<br /> When `false`, indicates that the client has not agreed to the liability release for the business.
          example: true
        ReleasedBy:
          type: integer
          format: int32
          description: An ID indicating who released liability for the client. If the client agreed to the liability waiver by signing into an account online, this value is `null`. If a staff member marked the waiver as signed on behalf of the client, it is the staff member’s ID. `0` indicates that the business owner marked the liability waiver as signed on behalf of the client.
          example: 1
    CustomClientFieldValue:
      type: object
      description: Implementation of the 'CustomClientFieldValue' model. The value of a custom client field
      properties:
        Value:
          type: string
          description: The value of a specific custom field for a client.
          example: example-value
        Id:
          type: integer
          format: int32
          description: The ID of the custom client field.
          example: 123456
        DataType:
          type: string
          description: The data type of the field.
          example: example-value
        Name:
          type: string
          description: The name of the field.
          example: Sunset Yoga Studio
    ClassSchedule:
      type: object
      description: Implementation of the 'ClassSchedule' model. Represents a single class instance. The class meets at the start time, goes until the end time.
      properties:
        Classes:
          type: array
          items:
            $ref: '#/components/schemas/Class'
          description: Contains information about a class.
          example:
          - {}
        Clients:
          type: array
          items:
            $ref: '#/components/schemas/Client'
          description: Contains information about clients.
          example:
          - {}
        Course:
          $ref: '#/components/schemas/Course'
          description: Contains information about the course that the enrollment is a part of.
        SemesterId:
          type: integer
          format: int32
          description: The semester ID for the enrollment (if any).
          example: 123456
        IsAvailable:
          type: boolean
          description: When `true`, indicates that the enrollment shows in consumer mode, has not started yet, and there is room in each class of the enrollment.<br /> When `false`, indicates that either the enrollment does not show in consumer mode, has already started, or there is no room in some classes of the enrollment.
          example: true
        Id:
          type: integer
          format: int32
          description: The unique ID of the class schedule.
          example: 123456
        ClassDescription:
          $ref: '#/components/schemas/ClassDescription'
          description: Contains information about the class.
        DaySunday:
          type: boolean
          description: When `true`, indicates that this schedule occurs on Sundays.
          example: true
        DayMonday:
          type: boolean
          description: When `true`, indicates that this schedule occurs on Mondays.
          example: true
        DayTuesday:
          type: boolean
          description: When `true`, indicates that this schedule occurs on Tuesdays.
          example: true
        DayWednesday:
          type: boolean
          description: When `true`, indicates that this schedule occurs on Wednesdays.
          example: true
        DayThursday:
          type: boolean
          description: When `true`, indicates that this schedule occurs on Thursdays.
          example: true
        DayFriday:
          type: boolean
          description: When `true`, indicates that this schedule occurs on Fridays.
          example: true
        DaySaturday:
          type: boolean
          description: When `true`, indicates that this schedule occurs on Saturdays.
          example: true
        AllowOpenEnrollment:
          type: boolean
          description: When `true`, indicates that the enrollment allows booking after the enrollment has started.
          example: true
        AllowDateForwardEnrollment:
          type: boolean
          description: When `true`, indicates that this the enrollment shows in consumer mode, the enrollment has not started yet, and there is room in each class of the enrollment.
          example: true
        StartTime:
          type: string
          format: date-time
          description: The time this class schedule starts.
          example: '2026-05-28T14:30:00Z'
        EndTime:
          type: string
          format: date-time
          description: The time this class schedule ends.
          example: '2026-05-28T14:30:00Z'
        StartDate:
          type: string
          format: date-time
          description: The date this class schedule starts.
          example: '2026-05-28T14:30:00Z'
        EndDate:
          type: string
          format: date-time
          description: The date this class schedule ends.
          example: '2026-05-28T14:30:00Z'
        Staff:
          $ref: '#/components/schemas/Staff'
          description: Contains information about the staff member who is regularly scheduled to teach the class.
        Location:
          $ref: '#/components/schemas/Location'
          description: Contains information about the regularly scheduled location of this class.
        FrequencyType:
          $ref: '#/components/schemas/FrequencyTypeEnum'
          description: The class schedule recurrence type.
        FrequencyInterval:
          type: integer
          format: int32
          description: The interval between class schedule occurencies.
          example: 1
    Course:
      type: object
      description: Implementation of the 'Course' model. A course.
      properties:
        Id:
          type: integer
          format: int32
          description: The course ID.
          example: 123456
        Name:
          type: string
          description: The course name.
          example: Sunset Yoga Studio
        Description:
          type: string
          description: A description of the course.
          example: Example note for Mindbody Public API.
        Notes:
          type: string
          description: Any notes that have been written about the course.
          example: Example note for Mindbody Public API.
        StartDate:
          type: string
          format: date-time
          description: Date and time that the course starts.
          example: '2026-05-28T14:30:00Z'
        EndDate:
          type: string
          format: date-time
          description: Date and time that the course ends.
          example: '2026-05-28T14:30:00Z'
        Location:
          $ref: '#/components/schemas/Location'
          description: Contains information about the location.
        Organizer:
          $ref: '#/components/schemas/Staff'
          description: Contains information about the staff member in charge of organizing the event.
        Program:
          $ref: '#/components/schemas/Program'
          description: Contains information about the service category to which the course belongs.
        ImageUrl:
          type: string
          description: The URL of the image associated with this course, if one exists.
          example: https://example.mindbodyonline.com/resource/abc123
    Sale:
      type: object
      description: Implementation of the 'Sale' model. Contains the Sale details.
      properties:
        Id:
          type: integer
          format: int32
          description: The sale ID.
          example: 123456
        SaleDate:
          type: string
          format: date-time
          description: The date the item was sold.
          example: '2026-05-28T14:30:00Z'
        SaleTime:
          type: string
          description: The time the item was sold.
          example: example-value
        SaleDateTime:
          type: string
          format: date-time
          description: The date and time the item was sold.
          example: '2026-05-28T14:30:00Z'
        OriginalSaleDateTime:
          type: string
          format: date-time
          description: The date and time the item was sold originally.
          example: '2026-05-28T14:30:00Z'
        SalesRepId:
          type: integer
          format: int32
          description: The sales representative ID
          example: 123456
        ClientId:
          type: string
          description: The ID of the client who made the purchase.
          example: example-value
        RecipientClientId:
          type: integer
          format: int32
          description: Recipient Client Id
          example: 123456
        PurchasedItems:
          type: array
          items:
            $ref: '#/components/schemas/PurchasedItem'
          description: Contains the `PurchasedItem` objects that describe the purchased items.
          example:
          - {}
        LocationId:
          type: integer
          format: int32
          description: The ID of the location where the sale takes place.
          example: 123456
        Payments:
          type: array
          items:
            $ref: '#/components/schemas/SalePayment'
[...]
