openapi: 3.0.3
info:
  title: Mindbody Public API v6
  version: '6.0'
  description: REST API for Mindbody business management data including appointments, classes, clients, enrollments, sales, sites, staff, payroll, and cross-site operations. Authentication combines a 
    Mindbody-issued API-Key header with a SiteId header and optional staff/user OAuth bearer tokens for write operations. Generated from the official Mindbody Public API Python SDK (apimatic v3).
  contact:
    name: Mindbody API Support
    url: https://support.mindbodyonline.com/s/contactapisupport
  license:
    name: Proprietary
  x-generated-from: Mindbody-API-SDKs python SDK
  x-last-validated: '2026-05-28'
servers:
- url: https://api.mindbodyonline.com
  description: Production
tags:
- name: Appointment
  description: Appointment operations.
- name: Class
  description: Class operations.
- name: Client
  description: Client operations.
- name: Cross Site
  description: Cross Site operations.
- name: Enrollment
  description: Enrollment operations.
- name: Payroll
  description: Payroll operations.
- name: Pick A Spot
  description: Pick A Spot operations.
- name: Sale
  description: Sale operations.
- name: Site
  description: Site operations.
- name: Staff
  description: Staff operations.
- name: User Token
  description: User Token operations.
paths:
  /public/v6/appointment/activesessiontimes:
    get:
      tags:
      - Appointment
      summary: Mindbody This is Not Appointment Availability but Rather the Active Business
      description: This is not appointment availability but rather the active business hours for studios and which increments services can be booked at. See BookableItems for appointment availability.
      operationId: getActiveSessionTimes
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.endTime
        in: query
        required: false
        description: 'Filters results to times that end on or before this time on the current date. Any date provided is ignored.. <br />Default: **23:59:59**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.scheduleType
        in: query
        required: false
        description: Filters on the provided the schedule type. Either `SessionTypeIds` or `ScheduleType` must be provided.
        schema:
          $ref: '#/components/schemas/RequestScheduleTypeEnum'
        example: {}
      - name: request.sessionTypeIds
        in: query
        required: false
        description: Filters on the provided session type IDs. Either `SessionTypeIds` or `ScheduleType` must be provided.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.startTime
        in: query
        required: false
        description: 'Filters results to times that start on or after this time on the current date. Any date provided is ignored. <br />Default: **00:00:00**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActiveSessionTimesResponse'
              examples:
                Getactivesessiontimes200Example:
                  summary: Default getActiveSessionTimes 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    ActiveSessionTimes: &id043
                    - example-value
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/appointment/addons:
    get:
      tags:
      - Appointment
      summary: Mindbody Get Active Appointment Add-ons
      description: Get active appointment add-ons.
      operationId: getAddOns
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.staffId
        in: query
        required: false
        description: Filter to add-ons only performed by this staff member.
        schema:
          type: integer
          format: int32
        example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAddOnsResponse'
              examples:
                Getaddons200Example:
                  summary: Default getAddOns 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    AddOns: &id044
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/appointment/appointmentoptions:
    get:
      tags:
      - Appointment
      summary: Mindbody This Endpoint Has No Query Parameters
      description: This endpoint has no query parameters.
      operationId: getAppointmentOptions
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAppointmentOptionsResponse'
              examples:
                Getappointmentoptions200Example:
                  summary: Default getAppointmentOptions 200 example
                  x-microcks-default: true
                  value:
                    Options: &id046
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/appointment/availabledates:
    get:
      tags:
      - Appointment
      summary: Mindbody Returns a List of Dates to Narrow Down Staff Availability When
      description: Returns a list of dates to narrow down staff availability when booking. Dates are those which staff are scheduled to work and do not guarantee booking availabilities. After this 
        call is made, use GET BookableItems to retrieve availabilities for specific dates before booking.
      operationId: getAvailableDates
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: request.sessionTypeId
        in: query
        required: true
        description: required requested session type ID.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.endDate
        in: query
        required: false
        description: 'The end date of the requested date range. <br />Default: **StartDate**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.locationId
        in: query
        required: false
        description: optional requested location ID.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.staffId
        in: query
        required: false
        description: optional requested staff ID.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.startDate
        in: query
        required: false
        description: "The start date of the requested date range. If omitted, the default is used. <br />Default: **today’s date**"
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAvailableDatesResponse'
              examples:
                Getavailabledates200Example:
                  summary: Default getAvailableDates 200 example
                  x-microcks-default: true
                  value:
                    AvailableDates: &id047
                    - '2026-05-28T14:30:00Z'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/appointment/bookableitems:
    get:
      tags:
      - Appointment
      summary: Mindbody Returns a List of Availabilities with the Information Needed to Book
      description: 'Returns a list of availabilities with the information needed to book appointments. Availabilities include information such as the location and its amenities, staff members, programs,
        and session types. Recommended to use with GET AvailableDates to see what dates the staff is scheduled to work and narrow down the dates searched. Recommended to use with GET ActiveSessionTimes
        to see which increments each business allows for booking appointments. Notes: - With a wider range of dates, this call may take longer to return results. - With a higher number of request.sessionTypeIds,
        this call may take longer to return results.'
      operationId: getBookableItems
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: request.sessionTypeIds
        in: query
        required: true
        description: A list of the requested session type IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.appointmentId
        in: query
        required: false
        description: If provided, filters out the appointment with this ID.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.endDate
        in: query
        required: false
        description: 'The end date of the requested date range. <br />Default: **StartDate**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.ignoreDefaultSessionLength
        in: query
        required: false
        description: When `true`, availabilities that are non-default return, for example, a 30-minute availability with a 60-minute default session length.<br /> When `false`, only availabilities 
          that have the default session length return.
        schema:
          type: boolean
        example: true
      - name: request.includeResourceAvailability
        in: query
        required: false
        description: When `true`, resource availabilities for the session type are returned.<br /> When `false`, resource availabilities are not returned default.
        schema:
          type: boolean
        example: true
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.locationIds
        in: query
        required: false
        description: A list of the requested location IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.staffIds
        in: query
        required: false
        description: A list of the requested staff IDs. Omit parameter to return all staff availabilities.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.startDate
        in: query
        required: false
        description: "The start date of the requested date range. <br />Default: **today’s date**"
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBookableItemsResponse'
              examples:
                Getbookableitems200Example:
                  summary: Default getBookableItems 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Availabilities: &id048
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/appointment/scheduleitems:
    get:
      tags:
      - Appointment
      summary: Mindbody Returns a List of Schedule Items, Including Appointments,
      description: Returns a list of schedule items, including appointments, availabilities, and unavailabilities. Unavailabilities are the times at which appointments cannot be booked, for example, 
        on holidays or after hours when the business is closed.
      operationId: getScheduleItems
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.endDate
        in: query
        required: false
        description: "The end date of the requested date range. <br />Default: **today’s date**"
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.ignorePrepFinishTimes
        in: query
        required: false
        description: 'When `true`, appointment preparation and finish unavailabilities are not returned. <br />Default: **false**'
        schema:
          type: boolean
        example: true
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.locationIds
        in: query
        required: false
        description: A list of requested location IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.staffIds
        in: query
        required: false
        description: A list of requested staff IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.startDate
        in: query
        required: false
        description: "The start date of the requested date range. <br />Default: **today’s date**"
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetScheduleItemsResponse'
              examples:
                Getscheduleitems200Example:
                  summary: Default getScheduleItems 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    StaffMembers: &id094
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/appointment/staffappointments:
    get:
      tags:
      - Appointment
      summary: Mindbody Returns a List of Appointments by Staff Member
      description: Returns a list of appointments by staff member.
      operationId: getStaffAppointments
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.appointmentIds
        in: query
        required: false
        description: A list of the requested appointment IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.clientId
        in: query
        required: false
        description: The client ID to be returned.
        schema:
          type: string
        example: example-value
      - name: request.endDate
        in: query
        required: false
        description: 'The end date of the requested date range. <br />Default: **StartDate**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.locationIds
        in: query
        required: false
        description: A list of the requested location IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.staffIds
        in: query
        required: false
        description: List of staff IDs to be returned. Omit parameter to return staff appointments for all staff.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.startDate
        in: query
        required: false
        description: 'The start date of the requested date range. If omitted, the default is used. <br />Default: **today''s date**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.useSiteSettingsStaffName
        in: query
        required: false
        description: When `true`, the staff DisplayName will be populated based on site-level settings. When `false` or omitted, the staff DisplayName will contain only the FirstName.
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStaffAppointmentsResponse'
              examples:
                Getstaffappointments200Example:
                  summary: Default getStaffAppointments 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Appointments: &id100
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/appointment/unavailabilities:
    get:
      tags:
      - Appointment
      summary: Mindbody Returns a List of Unavailabilities. Unavailabilities Are the Times at
      description: Returns a list of unavailabilities. Unavailabilities are the times at which appointments cannot be booked, for example, on holidays or after hours when the business is closed.
      operationId: getUnavailabilities
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.endDate
        in: query
        required: false
        description: "The end date of the requested date range. <br />Default: **today’s date**"
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.staffIds
        in: query
        required: false
        description: A list of requested staff IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.startDate
        in: query
        required: false
        description: "The start date of the requested date range. <br />Default: **today’s date**"
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUnavailabilitiesResponse'
              examples:
                Getunavailabilities200Example:
                  summary: Default getUnavailabilities 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Unavailabilities: &id106
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/appointment/addappointment:
    post:
      tags:
      - Appointment
      summary: Mindbody A User Token is Required for This Endpoint. to Book an Appointment,
      description: 'A user token is required for this endpoint. To book an appointment, you must use a location ID, staff ID, client ID, session type ID, and the StartDateTime of the appointment. You can
        get most of this information using GET BookableItems. Note: Request deduplication is enabled for this endpoint. More information can be found in the [Request Deduplication Page](https://developers.mindbodyonline.com/ui/documentation/public-api
        #/net-standard-library/mindbody-public-api-v6-0/request-deduplication). Use the `X-RequestDeduplication-Skip` header to bypass deduplication if necessary. This may be useful in scenarios where you
        want to ensure a new appointment is created regardless of previous identical requests.'
      operationId: addAppointment
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAppointmentRequest'
            examples:
              AddappointmentRequestExample:
                summary: Default addAppointment request example
                x-microcks-default: true
                value:
                  ClientId: example-value
                  LocationId: 123456
                  SessionTypeId: 123456
                  StaffId: 123456
                  StartDateTime: '2026-05-28T14:30:00Z'
                  ApplyPayment: true
                  Duration: 1
                  EndDateTime: '2026-05-28T14:30:00Z'
                  GenderPreference: example-value
                  Notes: Example note for Mindbody Public API.
                  ProviderId: example-value
                  ResourceIds: &id012
                  - 1
                  SendEmail: true
                  StaffRequested: true
                  Test: true
                  IsWaitlist: true
                  IsRequest: true
                  PartnerExternalId: example-value
                  AddAppointmentRequestId: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddAppointmentResponse'
              examples:
                Addappointment200Example:
                  summary: Default addAppointment 200 example
                  x-microcks-default: true
                  value:
                    Appointment: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/appointment/addappointmentaddon:
    post:
      tags:
      - Appointment
      summary: Mindbody This Endpoint Books an Add-on on Top of an Existing, Regular
      description: This endpoint books an add-on on top of an existing, regular appointment. To book an add-on, you must use an existing appointment ID and session type ID. You can get a session type 
        ID using `GET AppointmentAddOns`.
      operationId: addAppointmentAddOn
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAppointmentAddOnRequest'
            examples:
              AddappointmentaddonRequestExample:
                summary: Default addAppointmentAddOn request example
                x-microcks-default: true
                value:
                  ApplyPayment: true
                  AppointmentId: 123456
                  SessionTypeId: 123456
                  StaffId: 123456
                  Test: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddAppointmentAddOnResponse'
              examples:
                Addappointmentaddon200Example:
                  summary: Default addAppointmentAddOn 200 example
                  x-microcks-default: true
                  value:
                    AppointmentId: 123456
                    AddOnAppointmentId: 123456
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/appointment/addmultipleappointments:
    post:
      tags:
      - Appointment
      summary: Mindbody A User Token is Required for This Endpoint. to Book Appointments, You
      description: A user token is required for this endpoint. To book appointments, you must provide a location ID, staff ID, client ID, session type ID, and the StartDateTime for each appointment. 
        You can retrieve most of this information using the GET BookableItems endpoint. This endpoint will handle errors that occur during the appointment creation process and return a list of errors,
        as well as the request object that generated each outcome. You can pass the AddAppointmentRequestId for each request, or it will be automatically filled. This is intended to facilitate 
        matching each request with the corresponding outcome. This endpoint will send one notification when multiple Appointments are booked by one Client on a given day.
      operationId: addMultipleAppointments
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMultipleAppointmentsRequest'
            examples:
              AddmultipleappointmentsRequestExample:
                summary: Default addMultipleAppointments request example
                x-microcks-default: true
                value:
                  AddAppointmentRequests: &id025
                  - {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddMultipleAppointmentsResponse'
              examples:
                Addmultipleappointments200Example:
                  summary: Default addMultipleAppointments 200 example
                  x-microcks-default: true
                  value:
                    AddAppointmentOutcomes: &id026
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/appointment/availabilities:
    put:
      tags:
      - Appointment
      summary: Mindbody To Update the Information for a Specific Availability or
      description: 'To update the information for a specific availability or unavailability of the staff.<br /> Note: You must have a staff user token with the required permissions.'
      operationId: updateAvailability
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAvailabilityRequest'
            examples:
              UpdateavailabilityRequestExample:
                summary: Default updateAvailability request example
                x-microcks-default: true
                value:
                  AvailabilityIds: &id120
                  - 1
                  PublicDisplay: {}
                  DaysOfWeek: &id121
                  - {}
                  ProgramIds: &id122
                  - 1
                  StartDateTime: '2026-05-28T14:30:00Z'
                  EndDateTime: '2026-05-28T14:30:00Z'
                  LocationId: 123456
                  UnavailableDescription: Example note for Mindbody Public API.
                  Test: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAvailabilityResponse'
              examples:
                Updateavailability200Example:
                  summary: Default updateAvailability 200 example
                  x-microcks-default: true
                  value:
                    StaffMembers: &id123
                    - {}
                    Errors: &id124
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
    post:
      tags:
      - Appointment
      summary: Mindbody Add Availabilities and Unavailabilities for a Staff Member.<br />
      description: 'Add availabilities and unavailabilities for a staff member.<br /> Note: You must have a staff user token with the required permissions.'
      operationId: addAvailabilities
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAvailabilitiesRequest'
            examples:
              AddavailabilitiesRequestExample:
                summary: Default addAvailabilities request example
                x-microcks-default: true
                value:
                  Test: true
                  LocationID: 1
                  StaffIDs: &id013
                  - 1
                  ProgramIDs: &id014
                  - 1
                  StartDateTime: '2026-05-28T14:30:00Z'
                  EndDateTime: '2026-05-28T14:30:00Z'
                  DaysOfWeek: &id015
                  - {}
                  UnavailableDescription: Example note for Mindbody Public API.
                  IsUnavailable: true
                  PublicDisplay: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddAvailabilitiesResponse'
              examples:
                Addavailabilities200Example:
                  summary: Default addAvailabilities 200 example
                  x-microcks-default: true
                  value:
                    StaffMembers: &id016
                    - {}
                    Errors: &id017
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/appointment/updateappointment:
    post:
      tags:
      - Appointment
      summary: Mindbody To Update the Information for a Specific Appointment, You Must Have a
      description: "To update the information for a specific appointment, you must have a staff user token with the proper permissions. Note that you can only update the appointment’s `StartDateTime`, `EndDateTime`,
        `StaffId`, `Notes`, and `SessionTypeId`."
      operationId: updateAppointment
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppointmentRequest'
            examples:
              UpdateappointmentRequestExample:
                summary: Default updateAppointment request example
                x-microcks-default: true
                value:
                  AppointmentId: 123456
                  EndDateTime: '2026-05-28T14:30:00Z'
                  Execute: example-value
                  GenderPreference: example-value
                  Notes: Example note for Mindbody Public API.
                  PartnerExternalId: example-value
                  ProviderId: example-value
                  ResourceIds: &id119
                  - 1
                  SendEmail: true
                  SessionTypeId: 123456
                  StaffId: 123456
                  StartDateTime: '2026-05-28T14:30:00Z'
                  ApplyPayment: true
                  Test: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAppointmentResponse'
              examples:
                Updateappointment200Example:
                  summary: Default updateAppointment 200 example
                  x-microcks-default: true
                  value:
                    Appointment: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/appointment/appointmentfromwaitlist:
    delete:
      tags:
      - Appointment
      summary: Mindbody Remove an Appointment from Waitlist
      description: Remove an appointment from waitlist
      operationId: removeFromWaitlist
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: request.waitlistEntryIds
        in: query
        required: true
        description: A list of `WaitlistEntryIds` to remove from the waiting list.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/appointment/availability:
    delete:
      tags:
      - Appointment
      summary: Mindbody This Endpoint Deletes the Availability or Unavailability
      description: 'This endpoint deletes the availability or unavailability. Note: You must have a staff user token with the required permissions.'
      operationId: deleteAvailability
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: deleteAvailabilityRequest.availabilityId
        in: query
        required: false
        description: The ID of the availability or unavailability.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: deleteAvailabilityRequest.test
        in: query
        required: false
        description: "When `true`, indicates that this is a test request and no data is deleted from the subscriber’s database. When `false`, the record will be deleted. Default: **false**"
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/appointment/deleteappointmentaddon:
    delete:
      tags:
      - Appointment
      summary: Mindbody This Endpoint Can Be Used to Early-cancel a Booked Appointment Add-on
      description: This endpoint can be used to early-cancel a booked appointment add-on.
      operationId: deleteAppointmentAddOn
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: id
        in: query
        required: true
        description: The request query parameter.
        schema:
          type: integer
          format: int32
        example: 1
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/class/classdescriptions:
    get:
      tags:
      - Class
      summary: Mindbody To Find Class Descriptions Associated with **scheduled Classes**, Pass
      description: To find class descriptions associated with **scheduled classes**, pass `StaffId`, `StartClassDateTime`, `EndClassDateTime`, or `LocationId` in the request.
      operationId: getClassDescriptions
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.classDescriptionId
        in: query
        required: false
        description: The ID of the requested client.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.endClassDateTime
        in: query
        required: false
        description: Filters the results to class descriptions for scheduled classes that happen before the given date and time.
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.includeInactive
        in: query
        required: false
        description: Includes inactive class descriptions, defaulting to true. When set to false, it filters out inactive class descriptions.
        schema:
          type: boolean
        example: true
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.locationId
        in: query
        required: false
        description: Filters results to classes descriptions for schedule classes as the given location.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.programIds
        in: query
        required: false
        description: A list of requested program IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.staffId
        in: query
        required: false
        description: Filters results to class descriptions for scheduled classes taught by the given staff member.
        schema:
          type: integer
          format: int32
        example: 123456
      - name: request.startClassDateTime
        in: query
        required: false
        description: Filters the results to class descriptions for scheduled classes that happen on or after the given date and time.
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClassDescriptionsResponse'
              examples:
                Getclassdescriptions200Example:
                  summary: Default getClassDescriptions 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    ClassDescriptions: &id050
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/class/classes:
    get:
      tags:
      - Class
      summary: Mindbody Get Scheduled Classes
      description: Get scheduled classes.
      operationId: getClasses
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.classDescriptionIds
        in: query
        required: false
        description: The requested class description IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.classIds
        in: query
        required: false
        description: The requested class IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.classScheduleIds
        in: query
        required: false
        description: The requested classSchedule Ids.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.clientId
        in: query
        required: false
        description: The client ID of the client who is viewing this class list. Based on identity, the client may be able to see additional information, such as membership specials.
        schema:
          type: string
        example: example-value
      - name: request.endDateTime
        in: query
        required: false
        description: "The requested end date for filtering. NOTE: ClassDate does not take Class Time into consideration. <br />Default: **today’s date**"
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.hideCanceledClasses
        in: query
        required: false
        description: 'When `true`, canceled classes are removed from the response.<br /> When `false`, canceled classes are included in the response.<br /> Default: **false**'
        schema:
          type: boolean
        example: true
      - name: request.lastModifiedDate
        in: query
        required: false
        description: When included in the request, only records modified on or after the `LastModifiedDate` specified are included in the response.
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.locationIds
        in: query
        required: false
        description: A list of location IDs on which to base the search.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.programIds
        in: query
        required: false
        description: A list of program IDs on which to base the search.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.schedulingWindow
        in: query
        required: false
        description: 'When `true`, classes outside scheduling window are removed from the response.<br /> When `false`, classes are included in the response, regardless of the scheduling window.<br /> Default:
          **false**'
        schema:
          type: boolean
        example: true
      - name: request.semesterIds
        in: query
        required: false
        description: A list of semester IDs on which to base the search.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.sessionTypeIds
        in: query
        required: false
        description: A list of session type IDs on which to base the search.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.staffIds
        in: query
        required: false
        description: The requested IDs of the teaching staff members.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.startDateTime
        in: query
        required: false
        description: "The requested start date for filtering. This also determines what you will see for the ‘BookingWindow’ StartDateTime in the response. For example, if you pass a StartDateTime that
          is on OR before the BookingWindow ‘Open’ days of the class, you will retrieve the actual ‘StartDateTime’ for the Booking Window. If you pass a StartDateTime that is after the BookingWindow ‘date’,
          then you will receive results based on that start date. NOTE: ClassDate does not take Class Time into consideration."
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.uniqueClientId
        in: query
        required: false
        description: 'The unique ID of the client who is viewing this class list. Based on identity, the client may be able to see additional information, such as membership specials. Note: you need to
          provide the ''UniqueClientId'' OR the ''ClientId''. If both are provided, the ''UniqueClientId'' takes precedence.'
        schema:
          type: integer
          format: int32
        example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClassesResponse'
              examples:
                Getclasses200Example:
                  summary: Default getClasses 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Classes: &id052
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/class/classschedules:
    get:
      tags:
      - Class
      summary: Mindbody Get Class Schedules
      description: Get class schedules.
      operationId: getClassSchedules
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.classScheduleIds
        in: query
        required: false
        description: 'The class schedule IDs. <br />Default: **all**'
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.endDate
        in: query
        required: false
        description: 'The end date of the range. Return any active enrollments that occur on or before this day. <br />Default: **StartDate**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.locationIds
        in: query
        required: false
        description: 'The location IDs. <br />Default: **all**'
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.programIds
        in: query
        required: false
        description: 'The program IDs. <br />Default: **all**'
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.sessionTypeIds
        in: query
        required: false
        description: 'The session type IDs. <br />Default: **all**'
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.staffIds
        in: query
        required: false
        description: 'The staff IDs. <br />Default: **all**'
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.startDate
        in: query
        required: false
        description: "The start date of the range. Return any active enrollments that occur on or after this day. <br />Default: **today’s date**"
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClassSchedulesResponse'
              examples:
                Getclassschedules200Example:
                  summary: Default getClassSchedules 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    ClassSchedules: &id051
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/class/classvisits:
    get:
      tags:
      - Class
      summary: Mindbody Returns a List of Visits That Contain Information for a Specified
      description: Returns a list of visits that contain information for a specified class. On success, this request returns the class object in the response with a list of visits.
      operationId: getClassVisits
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: request.classID
        in: query
        required: true
        description: The class ID.
        schema:
          type: integer
          format: int32
        example: 1
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.lastModifiedDate
        in: query
        required: false
        description: When included in the request, only records modified on or after the `LastModifiedDate` specified are included in the response.
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.useSiteSettingsStaffName
        in: query
        required: false
        description: When `true`, the staff DisplayName will be populated based on site-level settings. When `false` or omitted, the staff DisplayName will contain only the FirstName.
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClassVisitsResponse'
              examples:
                Getclassvisits200Example:
                  summary: Default getClassVisits 200 example
                  x-microcks-default: true
                  value:
                    Class: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/class/courses:
    get:
      tags:
      - Class
      summary: Mindbody This Endpoint Will Provide All the Data Related to Courses Depending
      description: 'This endpoint will provide all the data related to courses depending on the access level.<br /> Note: The Authorization is an optional header.If Authorization header is not passed, the
        response will be masked else full response will be provided.'
      operationId: getCourses
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: getCoursesRequest.courseIDs
        in: query
        required: false
        description: Return only courses that are available for the specified CourseIds.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: getCoursesRequest.endDate
        in: query
        required: false
        description: The end date range. Any active courses that are on or before this day. <br />(optional) Defaults to StartDate.
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: getCoursesRequest.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: getCoursesRequest.locationIDs
        in: query
        required: false
        description: Return only courses that are available for the specified LocationIds.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: getCoursesRequest.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: getCoursesRequest.programIDs
        in: query
        required: false
        description: Return only courses that are available for the specified ProgramIds.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: getCoursesRequest.semesterIDs
        in: query
        required: false
        description: Return only courses that are available for the specified SemesterIds.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: getCoursesRequest.staffIDs
        in: query
        required: false
        description: Return only courses that are available for the specified StaffIds.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: getCoursesRequest.startDate
        in: query
        required: false
        description: The start date range. Any active courses that are on or after this day. <br />(optional) Defaults to today.
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCoursesReponse'
              examples:
                Getcourses200Example:
                  summary: Default getCourses 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Courses: &id072
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/class/semesters:
    get:
      tags:
      - Class
      summary: Mindbody This Endpoint Retrieves the Business Class Semesters
      description: This endpoint retrieves the business class semesters.
      operationId: getSemesters
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.active
        in: query
        required: false
        description: 'When true, the response only contains semesters which are activated. When false, only deactivated semesters are returned. Default: **All semesters**'
        schema:
          type: boolean
        example: true
      - name: request.endDate
        in: query
        required: false
        description: 'The end date for the range. All semesters that are on or before this day. Default: **StartDate**'
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.semesterIDs
        in: query
        required: false
        description: The requested semester IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.startDate
        in: query
        required: false
        description: "The start date for the range. All semesters that are on or after this day. Default: **today’s date**"
        schema:
          type: string
          format: date-time
        example: '2026-05-28T14:30:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSemestersResponse'
              examples:
                Getsemesters200Example:
                  summary: Default getSemesters 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Semesters: &id096
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/class/waitlistentries:
    get:
      tags:
      - Class
      summary: Mindbody Returns a List of Waiting List Entries for a Specified Class Schedule
      description: Returns a list of waiting list entries for a specified class schedule or class. The request requires staff credentials and either a class schedule ID or class ID.
      operationId: getWaitlistEntries
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      - name: request.classIds
        in: query
        required: false
        description: 'The requested class IDs. If a class ID is present, the request automatically disregards any class schedule IDs in the request. <br /> Either `ClassScheduleIds`, `ClientIds`, `WaitlistEntryIds`,
          or `ClassIds` is required; the others become optional.<br /> Default: **all ClassIds**'
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.classScheduleIds
        in: query
        required: false
        description: 'The requested class schedule IDs. If a class ID is present, the request automatically disregards any class schedule IDs in the request.<br /> Either `ClassScheduleIds`, `ClientIds`,
          `WaitlistEntryIds`, or `ClassIds` is required; the others become optional.<br /> Default: **all ClassScheduleIds**'
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: request.clientIds
        in: query
        required: false
        description: 'The requested client IDs.<br /> Either `ClassScheduleIds`, `ClientIds`, `WaitlistEntryIds`, or `ClassIds` is required; the others become optional.<br /> Default: **all ClientIds**'
        schema:
          type: array
          items:
            type: string
        example:
        - example-value
      - name: request.hidePastEntries
        in: query
        required: false
        description: 'When `true`, indicates that past waiting list entries are hidden from clients.<br /> When `false`, indicates that past entries are not hidden from clients.<br /> Default: **false**'
        schema:
          type: boolean
        example: true
      - name: request.limit
        in: query
        required: false
        description: Number of results to include, defaults to 100
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.offset
        in: query
        required: false
        description: Page offset, defaults to 0.
        schema:
          type: integer
          format: int32
        example: 1
      - name: request.waitlistEntryIds
        in: query
        required: false
        description: 'The requested waiting list entry IDs.<br /> Either `ClassScheduleIds`, `ClientIds`, `WaitlistEntryIds`, or `ClassIds` is required; the others become optional.<br /> Default: **all
          WaitlistEntryIds**'
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWaitlistEntriesResponse'
              examples:
                Getwaitlistentries200Example:
                  summary: Default getWaitlistEntries 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    WaitlistEntries: &id107
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/class/addclassschedule:
    post:
      tags:
      - Class
      summary: Mindbody This Endpoint Adds a Class Schedule. for a Single Day Schedule, the
      description: This endpoint adds a class schedule. For a single day schedule, the EndDate parameter can be omitted.
      operationId: addClassSchedule
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddClassEnrollmentScheduleRequest'
            examples:
              AddclassscheduleRequestExample:
                summary: Default addClassSchedule request example
                x-microcks-default: true
                value:
                  ClassDescriptionId: 123456
                  LocationId: 123456
                  StartDate: '2026-05-28T14:30:00Z'
                  EndDate: '2026-05-28T14:30:00Z'
                  StartTime: '2026-05-28T14:30:00Z'
                  EndTime: '2026-05-28T14:30:00Z'
                  DaySunday: true
                  DayMonday: true
                  DayTuesday: true
                  DayWednesday: true
                  DayThursday: true
                  DayFriday: true
                  DaySaturday: true
                  StaffId: 123456
                  StaffPayRate: 1
                  ResourceId: 123456
                  MaxCapacity: 1
                  WebCapacity: 1
                  WaitlistCapacity: 1
                  BookingStatus: Active
                  AllowOpenEnrollment: true
                  AllowDateForwardEnrollment: true
                  PricingOptionsProductIds: &id005
                  - 1
                  ShowToPublic: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WrittenClassSchedulesInfo'
              examples:
                Addclassschedule200Example:
                  summary: Default addClassSchedule 200 example
                  x-microcks-default: true
                  value:
                    ClassId: 123456
                    ClassInstanceIds: &id001
                    - 1
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/class/addclienttoclass:
    post:
      tags:
      - Class
      summary: Mindbody This Endpoint Adds a Client to a Class or to a Class Waiting List. to
      description: "This endpoint adds a client to a class or to a class waiting list. To prevent overbooking a class or booking outside the schedule windows set forth by the business, it is necessary to
        first check the capacity level of the class (‘MaxCapacity’ and 'TotalBooked’) and the 'IsAvailable’ parameter by running the GetClasses REQUEST. It is helpful to use this endpoint in the following
        situations: * Use after calling `GET Clients` and `GET Classes` so that you are sure which client to book in which class. * If adding a client to a class from a waiting list, use this call after
        you call `GET WaitlistEntries` and determine the ID of the waiting list from which you are moving the client. * If adding a client to a class and using a pricing option that the client has already
        purchased, use this call after you call `GET ClientServices` to determine the ID of the pricing option that the client wants to use. If you add a client to a class and the client purchases a new
        pricing option, use `GET Services`, `GET Classes`, and then `POST CheckoutShoppingCart` in place of this call. This endpoint also supports cross-regional class bookings. If you want to perform a
        cross-regional class booking, set `CrossRegionalBooking` to `true`. This endpoint does not support adding a user to a waiting list using a cross-regional client pricing option(service). Cross-regional
        booking workflows do not support client service scheduling restrictions. When performing a cross-regional class booking, this endpoint loops through the first ten sites that the client is associated
        with, looks for client pricing options at each of those sites, and then uses the oldest client pricing option found.It is important to note that this endpoint only loops through a maximum of ten
        associated client sites. If a `ClientID` is associated with more than ten sites in an organization, this endpoint only loops through the first ten.If you know that a client has a client service
        at another site, you can specify that site using"
      operationId: addClientToClass
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddClientToClassRequest'
            examples:
              AddclienttoclassRequestExample:
                summary: Default addClientToClass request example
                x-microcks-default: true
                value:
                  ClientId: example-value
                  ClassId: 123456
                  Test: true
                  RequirePayment: true
                  Waitlist: true
                  SendEmail: true
                  WaitlistEntryId: 123456
                  ClientServiceId: 123456
                  CrossRegionalBooking: true
                  CrossRegionalBookingClientServiceSiteId: 123456
                  UniqueId: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddClientToClassResponse'
              examples:
                Addclienttoclass200Example:
                  summary: Default addClientToClass 200 example
                  x-microcks-default: true
                  value:
                    Visit: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/class/cancelsingleclass:
    post:
      tags:
      - Class
      summary: Mindbody This Endpoint Will Cancel a Single Class from Studio
      description: This endpoint will cancel a single class from studio.
      operationId: cancelSingleClass
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelSingleClassRequest'
            examples:
              CancelsingleclassRequestExample:
                summary: Default cancelSingleClass request example
                x-microcks-default: true
                value:
                  ClassID: 1
                  HideCancel: true
                  SendClientEmail: true
                  SendStaffEmail: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelSingleClassResponse'
              examples:
                Cancelsingleclass200Example:
                  summary: Default cancelSingleClass 200 example
                  x-microcks-default: true
                  value:
                    Class: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/class/removeclientfromclass:
    post:
      tags:
      - Class
      summary: Mindbody Remove a Client from a Class
      description: Remove a client from a class.
      operationId: removeClientFromClass
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveClientFromClassRequest'
            examples:
              RemoveclientfromclassRequestExample:
                summary: Default removeClientFromClass request example
                x-microcks-default: true
                value:
                  ClassId: 123456
                  ClientId: example-value
                  UniqueClientId: 123456
                  Test: true
                  SendEmail: true
                  LateCancel: true
                  VisitId: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveClientFromClassResponse'
              examples:
                Removeclientfromclass200Example:
                  summary: Default removeClientFromClass 200 example
                  x-microcks-default: true
                  value:
                    Class: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/class/removeclientsfromclasses:
    post:
      tags:
      - Class
      summary: Mindbody This Endpoint Can Be Utilized for Removing Multiple Clients from
      description: This endpoint can be utilized for removing multiple clients from multiple classes in one request.
      operationId: removeClientsFromClasses
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveClientsFromClassesRequest'
            examples:
              RemoveclientsfromclassesRequestExample:
                summary: Default removeClientsFromClasses request example
                x-microcks-default: true
                value:
                  Details: &id116
                  - {}
                  Test: true
                  SendEmail: true
                  LateCancel: true
                  Limit: 10
                  Offset: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveClientsFromClassesResponse'
              examples:
                Removeclientsfromclasses200Example:
                  summary: Default removeClientsFromClasses 200 example
                  x-microcks-default: true
                  value:
                    PaginationResponse: {}
                    Classes: &id117
                    - {}
                    Errors: &id118
                    - {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/class/removefromwaitlist:
    post:
      tags:
      - Class
      summary: Mindbody This Endpoint Does Not Return a Response. if a Call to This Endpoint
      description: This endpoint does not return a response. If a call to this endpoint results in a 200 OK HTTP status code, then the call was successful.
      operationId: removeFromWaitlist
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: request.waitlistEntryIds
        in: query
        required: true
        description: A list of `WaitlistEntryIds` to remove from the waiting list.
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/class/substituteclassteacher:
    post:
      tags:
      - Class
      summary: Mindbody Substitute a Class Teacher
      description: Substitute a class teacher.
      operationId: substituteClassTeacher
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
        schema:
          type: string
        example: example-value
      - name: authorization
        in: header
        required: false
        description: A staff user authorization token.
        schema:
          type: string
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubstituteClassTeacherRequest'
            examples:
              SubstituteclassteacherRequestExample:
                summary: Default substituteClassTeacher request example
                x-microcks-default: true
                value:
                  ClassId: 123456
                  StaffId: 123456
                  OverrideConflicts: true
                  SendClientEmail: true
                  SendOriginalTeacherEmail: true
                  SendSubstituteTeacherEmail: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubstituteClassTeacherResponse'
              examples:
                Substituteclassteacher200Example:
                  summary: Default substituteClassTeacher 200 example
                  x-microcks-default: true
                  value:
                    Class: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - ApiKeyAuth: []
  /public/v6/class/updateclassschedule:
    post:
      tags:
      - Class
      summary: Mindbody This Endpoint Updates a Class Schedule
      description: This endpoint updates a class schedule.
      operationId: updateClassSchedule
      parameters:
      - name: version
        in: path
        required: true
        description: version of the api.
        schema:
          type: string
        example: example-value
      - name: siteId
        in: header
        required: true
        description: ID of the site from which to pull data.
[...]
